[2011-12-25 00:40] paulmillr opened #1 "Add browser tests"

[2011-12-25 01:52] rwaldron opened #2 "Array.of() is incorrectly implemented."
The implementation given is actually a casual version of `Array.from` and the tests you wrote are also incorrectly testing `Array.of` as though it were `Array.from`

Example of correct behaviour:

[code]

There are tests that assert:

[code]

... which is incorrect. That would be correct for `Array.from( arguments )`; `Array.of( arguments )` should actually return `[ arguments ]`;

[2011-12-25 02:02] paulmillr opened #3 "Add tests for extended object API"

[2011-12-25 02:17] #2 closed, assigned to nobody

[2011-12-25 03:33] #1 closed, assigned to nobody

[2011-12-25 03:34] #3 closed, assigned to nobody

[2011-12-29 20:15] paulmillr opened #5 "Add WeakMap shim"

[2012-01-19 03:33] paulmillr opened #6 "Find a way to optimize maps / sets performance"
Chrome has probably O(log(n)) access time etc.

[2012-01-19 04:41] paulmillr opened #7 "Adapt V8 collection tests"
[This](https://github.com/joyent/node/blob/master/deps/v8/test/mjsunit/harmony/collections.js) should be adapted & rewritten for es6-shim.

Also it doesn't seem to test weak map gc properly. I don't know how to do this automatically.

[2012-01-19 04:48] paulmillr opened #8 "Add es6 math functions"
http://wiki.ecmascript.org/doku.php?id=harmony:more_math_functions

Proposed are: Math.log10, log2, log1p, expm1, cosh, sinh, tanh, acosh, asinh, atanh, hypot, trunc; perhaps gamma and erf; and perhaps randomInt(n).

[2012-01-19 04:56] domenic opened #9 "Add `Object.isnt`, `Number.isFinite`"
They seem to be missing.

[2012-01-19 05:52] #9 closed, assigned to paulmillr

[2012-01-23 14:32] #7 closed, assigned to paulmillr

[2012-02-08 05:57] #8 closed, assigned to paulmillr

[2012-02-08 09:04] #5 closed, assigned to paulmillr

[2012-03-11 21:33] paulmillr opened #10 "Track addition of new methods"
- `String.prototype.reverse`
- `Array.prototype.contains`

https://mail.mozilla.org/pipermail/es-discuss/2012-March/021919.html

[2012-04-08 08:32] Yaffle opened #11 "Math.log10"
Math.log10(1e15) is 14.999999999999996 in Chrome 19

[2012-04-08 09:49] Yaffle opened #12 "9007199254740992 is not integer"

[2012-04-09 03:41] #12 closed, assigned to nobody

[2012-04-12 20:23] kojiromike opened #13 "Syntax error at line 84 of es6-shim.js"
=> should be >=, I believe. (This is not the fat-arrow operator already, right?)

[2012-04-13 00:27] #13 closed, assigned to nobody

[2012-04-20 16:14] freewind opened #14 "Is there any example of how to using es6-shim?"
I'm interested in es6, but I don't know how to use es6-shim.

Is there any example(simple one is enough)?

[2012-04-20 16:32] #14 closed, assigned to nobody

[2012-04-21 08:46] Yaffle opened #15 "String#startsWith/endsWith can be improved"
current:

[code]

suggestion:

[code]

[2012-05-03 03:34] #15 closed, assigned to nobody

[2012-05-07 05:55] #6 closed, assigned to paulmillr

[2012-06-11 14:04] hemanth opened #17 "Should it give an error?"
[code]

[2012-06-11 16:33] danneu opened #19 "Map and Set need size() method."

[2012-06-11 17:14] #19 closed, assigned to nobody

[2012-06-11 23:32] #17 closed, assigned to nobody

[2012-06-21 06:13] #10 closed, assigned to paulmillr

[2012-08-24 04:03] #11 closed, assigned to nobody

[2012-09-02 12:10] rwaldron opened #23 "Object.isObject was killed in May"
https://mail.mozilla.org/pipermail/es-discuss/2012-May/022838.html

[2012-09-02 12:12] #23 closed, assigned to nobody

[2012-10-13 10:41] Yaffle opened #24 "Map"
NOTE Each key is visited only once with the value that is current at the time of the visit. If the value associated with a
key is modified after it has been visited, it is not re-visited. Keys that are deleted after the call to forEach begins and
before being visited are not visited. New keys added, after the call to forEach begins are visited.

[2012-10-31 01:00] #24 closed, assigned to nobody

[2012-11-16 10:20] timruffles opened #25 "dynamic define call confuses require.js optimiser"
require.js is looking for simple calls to define statically, it can't assume any method call to define on an arbitrary object is calling its define.

just FYI, thanks for the shim!

[2012-12-03 03:44] #25 closed, assigned to nobody

[2012-12-08 07:21] martinheidegger opened #27 "Node.js --harmony implementation differs from es6-shim implementation"
The Node.js implementation in harmony mode of Map and Set offers no way to iterate over the items (at current stage, 0.8.15) so if I accidentally use it with the es6-shim enabled it will break if I run the same code in --harmony mode.

This difference just made my life more difficult, I think it would help other devs too if it was made sure to not occur.

[2012-12-10 07:23] saurik opened #28 "Map.prototype.keys is not a function"
According to the EcmaScript6 draft specification (as well as examples on various random websites), `Map.prototype.keys` is a function that takes no arguments and returns an array; when using this "shim" `keys` is instead a field of a map that directly stores the array. The result means that coding against this shim will not actually be compatible with an official implementation of Map.

[2012-12-11 05:34] #27 closed, assigned to nobody

[2012-12-28 01:40] #28 closed, assigned to nobody

[2013-01-26 02:18] ForbesLindesay opened #33 "Tests failing on Firefox"
The following assertions for `Map` fail in Firefox:

[code]

`map.keys`/`map.values` appear to be `undefined`

The following assertion for `Set` fails in Firefox:

[code]

`set.size` appears to be a function rather than a number.

P.S. this is the cause of the red cross in #32

[2013-02-12 13:57] Yaffle opened #34 "iterable map and set"
?

[2013-02-12 15:27] #34 closed, assigned to nobody

[2013-03-15 05:53] paulmillr opened #35 "Add more stuff"
- [x] Object.assign
- [x] Object.mixin
- [x] Array.from mapfn arg
- [x] [Array#find](https://gist.github.com/rwldrn/5079436)
- [x] [Array#findIndex](https://gist.github.com/rwldrn/5079427)
- [ ] String#normalize
- [x] String#raw
- [x] String.fromCodePoint tests
- [x] String#codePointAt tests
- [ ] Array#keys, Array#values, Array#entries

[2013-03-16 21:16] ljharb opened #37 "Doesn't work in ES3"
Object.defineProperty isn't shimmable in ES3, which makes the entire ES6 shim only usable in an ES5 environment.

Any shimmable parts of ES6 that do not rely on unshimmable parts of ES5 should use ES3-compatible syntax, to maximize its browser compatibility. If there are shimmable parts of ES6 that require a true ES5 environment, ideally those would be in a separate component/file.

[2013-03-17 23:07] #37 closed, assigned to nobody

[2013-03-18 04:10] paulmillr opened #43 "Add more examples to readme"

[2013-03-18 04:14] paulmillr opened #44 "More marketing"
MDN examples etc

[2013-03-24 22:12] paulmillr opened #48 "Use tape and testling, instead of mocha"

[2013-04-02 20:33] #43 closed, assigned to nobody

[2013-04-17 07:30] #44 closed, assigned to nobody

[2013-04-17 09:31] Nowaker opened #53 "fails on Internet Explorer 8"
Shim doesn't work on my Internet Explorer 8 - 8.0.6001.18702IS on Windows XP.
The error message translated into English would be "Object doesn't have such property or method".
Looks like `Object.keys` is undefined here.

[code]

![es6-shim](https://f.cloud.github.com/assets/611746/390440/9bf7ea10-a740-11e2-8bd3-127a61e4678e.png)

I'm using the latest version, [directly from master](https://raw.git

[2013-04-18 19:53] #53 closed, assigned to ljharb

[2013-05-06 17:02] deanlandolt opened #57 "WeakMap as es6-sham?"
Would you take a patch to add imperfectly shimmable features (a la WeakMap) in an es6-sham.js module? This is how Kris Kowal's refactored es5-shim and it makes a lot of sense. I understand why you don't want it in es6-shim proper but WeakMap is very shimmable regardless.

[2013-05-09 02:33] paulmillr opened #63 "add bower.json"

[2013-05-09 07:41] #33 closed, assigned to nobody

[2013-05-10 00:55] dekajp opened #65 "text/Index.html"
Browsing the code of test/index.html

saw these links -
 script src="../node_modules/mocha/mocha.js"
  script src="../node_modules/chai/chai.js"
  script src="../node_modules/es5-shim/es5-shim.min.js"
  script src="../es6-shim.js"

but Node_modules are not there in main source folder ? Not sure if this is a problem ?

[2013-05-10 01:00] #65 closed, assigned to nobody

[2013-05-14 07:54] ljharb opened #67 "Tests don't work in cloud due to global expect"
I think that worrying about index.html for tests is a problem. It forces, in particular, relying on a global "expect" to be set (that test_helpers sets for command-line). It makes testling tests fail, and I can only assume jepso tests as well.

I think that it would be better to eliminate the HTML entirely, or at least, use browserify to output all the JS for the html file (and store it in the rep

[2013-05-22 03:08] dekajp opened #72 "15.5.4.21 String.prototype.repeat"
From the - http://people.mozilla.org/~jorendorff/es6-draft.html#sec-15.5.4.21

NOTE 2 The repeat function is intentionally generic; it does not require that its this value be a String object. Therefore, it can be transferred to other kinds of objects for use as a method.

So if i do

var k = 2;
k.repeat(3) , is this should result in 222 ?

[2013-05-23 04:20] #72 closed, assigned to nobody

[2013-06-08 02:17] #63 closed, assigned to nobody

[2013-07-17 19:44] CMCDragonkai opened #77 "Providing a minified version"
Is it possible to provide a minified version as well, that way I can just bower to install the minified version.

[2013-07-18 10:57] Yaffle opened #84 "Math.expm1"
test cases:

Math.expm1(-38) should be -1,
current result is -183115516321770.7

Math.expm1(709) should be near 8.218407461554972e+307,
current result is 8.484265749165578e+76

[2013-07-18 19:23] Yaffle opened #94 "Number.isInteger(18014398509481984) should be true"
according to spec
http://people.mozilla.org/~jorendorff/es6-draft.html

[2013-07-18 21:28] #94 closed, assigned to nobody

[2013-07-19 05:45] Yaffle opened #97 "Number.MIN_VALUE on iPad (iOS 6)"
seems,
denormalized number are not supported on iPad, so
and Number.MIN_VALUE is buggy ( === 0)

because of this, many tests from https://github.com/paulmillr/es6-shim/pull/85 fails on iPad

according to ES6 (not ES5!) spec, http://people.mozilla.org/~jorendorff/es6-draft.html#sec-15.7.3.3

so, can you shim Number.MIN_VALUE ?
seems, not, because it is not configurable...

but other value should be

[2013-07-19 06:24] #97 closed, assigned to nobody

[2013-07-19 08:47] Yaffle opened #98 "it is too hard to dispute with ljharb"

[2013-07-19 08:48] #98 closed, assigned to nobody

[2013-07-20 02:57] dekajp opened #103 "String.fromCodePoint ( ...codePoints)"
Missing :-  Assert: codePoints is a well-formed rest parameter object.
http://people.mozilla.org/~jorendorff/es6-draft.html#sec-15.5.3.3

[2013-07-20 02:58] dekajp opened #104 "String.raw ( callSite, ...substitutions)"
Missing :-  substitutions is a well-formed rest parameter object.

http://people.mozilla.org/~jorendorff/es6-draft.html#sec-15.5.3.4

[2013-07-21 01:42] #103 closed, assigned to nobody

[2013-07-21 01:42] #104 closed, assigned to nobody

[2013-07-21 15:40] Yaffle opened #108 "Number.toInteger(4294967296) === 0"

[2013-07-21 15:44] Yaffle opened #109 "Number.toInteger({toString: function () { return Infinity; }}) === 0"
should be Infinity

[2013-07-23 11:33] #109 closed, assigned to nobody

[2013-07-24 15:56] #108 closed, assigned to nobody

[2013-08-15 05:13] Yaffle opened #128 "no"

[2013-08-15 05:23] #128 closed, assigned to nobody

[2013-08-15 06:18] Yaffle opened #129 "var x = new Map(); x.set(+0, 42); x.get(-0) === ?"
SameValueZero should be used as comparator according to latest spec, but is it worth to follow?

[2013-08-27 10:19] #77 closed, assigned to nobody

[2013-08-27 10:19] #35 closed, assigned to nobody

[2013-08-27 10:20] paulmillr opened #134 "Need String#normalize"

[2013-08-28 17:35] paulmillr opened #136 "Custom builds"
Would be really nice to have lodash-like custom builds, I guess. Some people need only 1-3 functions from here.

[2013-09-20 17:33] okfro opened #143 "Firefox 24 implements Map, but misses forEach on the prototype"
Despite loading the ES6 shim, FF's Map prototype is not aligned with the shim's Map prototype--at the very least, it's missing forEach.

es6 shim's defineProperties method looks correct to me, but I have not had time to properly debug it or even determine if that is the actual problem.

[2013-09-20 21:01] #143 closed, assigned to ljharb

[2013-10-07 20:09] cscott opened #148 "es6 Map/Set should be O(1) for get/has"
The current implementation is O(N) for most Map/Set operations.

[2013-10-07 22:08] #148 closed, assigned to nobody

[2013-10-11 20:09] cscott opened #156 "Incompatible with IE 9"
According to testling, es6-shim isn't working on IE 9.  The es5-shim works there, so in theory we should work on IE 9, too.

[2013-10-16 18:16] cscott opened #157 "package.json changes broke testling"
I'm still trying to figure out why, but neither 628d3d8e42b667d429a3c1b3b22cbe4b806e2d3a nor any of the commits after it have been successfully submitted to testling.  Reverting package.json to its prior contents seems to make testling happy again (see https://ci.testling.com/cscott/es6-shim ).

I'll try to figure out what's going on.

[2013-10-16 18:47] #157 closed, assigned to nobody

[2013-10-28 19:01] cscott opened #160 "Release 0.10.0"
We would appreciate a new npm release from master for use with https://github.com/wikimedia/mediawiki-extensions-Parsoid (now that the pull request #149 and #150 have been merged).

[2013-10-28 19:48] #160 closed, assigned to nobody

[2013-10-31 05:33] pbaille opened #161 "Map#set doesn't do anything at all"
m = new Map()
=> Map {}

m.set("key","val")
=> undefined

m
=> Map {}

Am i missing something?

[2013-10-31 05:39] #161 closed, assigned to nobody

[2013-11-27 14:50] paulmillr opened #163 "testling fails"

[2013-12-10 14:48] mathiasbynens opened #164 "`String#repeat` called on `undefined` or `null` should throw"
This implementation fails the following tests taken from https://github.com/mathiasbynens/String.prototype.repeat/blob/master/tests/tests.js:

[code]

[2013-12-10 20:52] #164 closed, assigned to nobody

[2013-12-10 20:56] paulmillr opened #166 "Calling almost all functions on null / undefined should throw TypeError"
We now should use `ES.CheckObjectCoercible` almost everywhere since spec uses it.

[2013-12-17 20:57] mathiasbynens opened #167 "`String#startsWith` should throw when a regular expression is passed instead of a string"
This implementation fails the following tests taken from https://github.com/mathiasbynens/String.prototype.startsWith/blob/master/tests/tests.js:

[code]

The same goes for `endsWith`.

[2013-12-17 20:57] mathiasbynens opened #168 "Buggy `String#endsWith` with `position` argument"
This implementation fails the following tests taken from https://github.com/mathiasbynens/String.prototype.endsWith/blob/master/tests/tests.js:

[code]

There’s also this issue:

[code]

…but that’s covered in #167.

[2013-12-18 01:45] ljharb opened #170 "Add a compliant Promise shim once spec is finalized"
This will probably be sizable, but should absolutely be prioritized in order for this module to remain the de facto ES6 shim.

[2013-12-18 02:20] #167 closed, assigned to nobody

[2013-12-18 04:42] #168 closed, assigned to nobody

[2013-12-18 04:59] #166 closed, assigned to nobody

[2013-12-18 14:56] anba opened #174 "Codomain for cosh(x) is [1, +Infinity)"
paulmillr/es6-shim/@4e1b1604972b9c7727efa3123bf017215bd88e0e

SpiderMonkey has the correct definition for Math.cosh(), it's V8 which is wrong about the target set of cosh(x). That means `Math.cosh(-Infinity)` must yield `+Infinity`.

[2013-12-18 15:27] mathiasbynens opened #175 "Some shims don’t guard against `Object.prototype` modifications"
Add this to the tests:

[code]

Functions and methods that might have this issue:
- `Array`: `from`, `fill`, `find`, `findIndex`
- `String`: `startsWith`, `endsWith`, `contains`

[2013-12-18 16:23] rwaldron opened #176 "Set.prototype.size throws TypeError: Object.keys called on non-object"
Accessing `Set.prototype.size` directly, for the first time, will throw an exception.

Reduced case here: https://dl.dropboxusercontent.com/u/3531958/es6-shim-Set.prototype.size-bug.html

[2013-12-18 19:01] #174 closed, assigned to ljharb

[2013-12-19 09:18] #175 closed, assigned to ljharb

[2013-12-26 18:04] termi opened #182 "Iterator protocol support in Array.from"
According the spec, Array.from function should support iterator protocol.

[code]

[2014-01-15 18:04] Yaffle opened #183 "Map iteration bug"
test case:

[code]

[2014-01-15 22:07] #183 closed, assigned to nobody

[2014-01-15 22:23] #176 closed, assigned to nobody

[2014-01-15 23:47] rwaldron opened #186 "Makefile error"
Attempting to run `make [any or none]`...

[code]

[2014-01-16 00:23] #186 closed, assigned to nobody

[2014-01-16 15:15] cscott opened #189 "Array.from() compatibility with Firefox and Chrome --enable-harmony"
As mentioned in issue #182, the current implementation of iterators has some looming incompatibilities with future versions of Firefox and with Chrome with the harmony flags enabled.  Opening this issue to track fixes.

[2014-01-22 23:35] cscott opened #192 "Object.mixin has been removed from es6"
See https://github.com/rwaldron/tc39-notes/blob/master/es6/2013-11/nov-20.md#consensusresolution-2

But it's not clear to me whether it's just being 'deferred' until they figure out some of the semantics issues with super -- which don't apply to es6-shim.  Should we remove it from es6-shim until they add it back to the standard, or leave things be in the hope that it will reappear in the spec?

[2014-01-23 04:26] #192 closed, assigned to nobody

[2014-01-26 23:29] #189 closed, assigned to nobody

[2014-01-26 23:29] #182 closed, assigned to ljharb

[2014-01-28 22:30] rwaldron opened #197 "Array.from(undefined|null) should throw a TypeError exception"
I had an item on the TC39 agenda to change the spec draft so that it matched es6-shim, but the proposal was rejected because `[].slice.call(undefined)` and `[].slice.call(null)` both throw.

[2014-01-29 02:56] #197 closed, assigned to ljharb

[2014-02-04 21:28] creativeconcepts opened #201 "Using Eventsource.js"
I am very new to java programming and I am trying to use your EventSource.js to run server side events on Internet Exploder...

I am using a very simple php to access database information and then pass to the client. However, when I use your basic example of php index.html, it adds a continueous new line after new line. I would like for it to simply replace the existing data with updated data. Als

[2014-02-04 22:11] cscott opened #202 "Set misbehaves with -0"
This is related to issue #200 and https://bugs.ecmascript.org/show_bug.cgi?id=2501

[code]

The Jan 20, 2014 es6 spec says this should print `-Infinity`.  However, our current implementation prints `Infinity` because we are using the "fast path" through Set, and:

[code]

also prints `Infinity`.  That is, using `-0` as a field index causes it to get silently coerced to `+0`.

The fix is probably j

[2014-02-04 22:27] #201 closed, assigned to nobody

[2014-02-04 22:32] #129 closed, assigned to nobody

[2014-02-05 00:12] #202 closed, assigned to nobody

[2014-02-05 04:30] cscott opened #204 "Normalize -0 to +0 in Map.set/Set.add"
As @yaffle pointed out in comments to #200, the spec is being changed to make map/set consistent with how property keys are handled for objects: https://mail.mozilla.org/pipermail/es-discuss/2014-February/036143.html

[2014-02-05 22:12] #204 closed, assigned to nobody

[2014-02-08 19:51] ljharb opened #208 "Investigate using an internal isFunction check instead of typeof"
`typeof foo === 'function'` is not reliable in every implementation - in some browsers, typeof will report "function" for regexes. The reliable method is `Object.prototype.toString.call(foo) === '[object Function]'`.

[2014-02-12 20:58] #170 closed, assigned to ljharb

[2014-02-13 09:53] #208 closed, assigned to ljharb

[2014-02-28 17:30] ljharb opened #226 "Promise test failure in node 0.6"
See https://travis-ci.org/paulmillr/es6-shim/jobs/19819944:

[code]

[2014-02-28 18:57] ljharb opened #227 "Add things to es6-sham"
We need to create an `es6-sham` file. Anything that doesn't 100% match the spec in either an ES3/shimmed ES5, or true ES5 environment does _not_ belong in `es6-shim` and should go in the sham file instead.
- ~~Object.setPrototypeOf~~ (as discussed below, when present, the implementation will be complete)
- [ ] `WeakMap`
- [ ] `Symbols` / `Object.getOwnPropertySymbols` (from @WebReflection's https:

[2014-02-28 19:26] #226 closed, assigned to cscott

[2014-02-28 20:27] cscott opened #228 "Release 0.9.4"
I'd love to see `Promise` in a released version of `es6-shim`.  The README and CHANGELOG should be up-to-date.  Can we bump the version in `package.json` `component.json` `es6-shim.js` and `CHANGELOG.md` (see 3bb1985b10c80ad421248bdf72873c2591fbfa6c for a reminder) and roll a new release?

Perhaps #227 can be deferred until the next release, at least.

[2014-03-01 19:30] #228 closed, assigned to ljharb

[2014-03-04 18:32] cscott opened #232 "String#startsWith and String#endsWith are broken on IE9"
We get two failures in the IE9 test suite via testling:

[code]

Unfortunately these test cases contain a large number of different tests, so it's hard to see exactly what's failing.

[2014-03-04 18:33] #156 closed, assigned to nobody

[2014-03-04 18:46] #232 closed, assigned to nobody

[2014-03-14 02:30] cscott opened #233 "bower broken in 0.10.0"
See https://github.com/paulmillr/es6-shim/commit/0b931c2b78a844e9349f18756e7f72cf0409eae4#commitcomment-5673368

We should release a quick 0.10.1 with 0b931c2b78a844e9349f18756e7f72cf0409eae4 in it so that bower works?

[2014-03-14 04:37] #233 closed, assigned to nobody

[2014-03-18 06:37] jokeyrhyme opened #234 "Object.getOwnPropertyDescriptors not in the ES6 draft?"
You currently shim `Object.getOwnPropertyDescriptors` (plural).

I can find `Object.getOwnPropertyDescriptor` (singular) in both the http://www.ecma-international.org/publications/files/ECMA-ST/Ecma-262.pdf and http://people.mozilla.org/~jorendorff/es6-draft.html#sec-object.getownpropertydescriptor but I can't find the plural anywhere.

Is there documentation why this is included es6-shim? A draft

[2014-03-20 06:00] andrewwakeling opened #235 "IE8 support"
Hi,
It appears that es6-shim relies on Object.getPrototypeOf which is not available in IE8.

This is problematic and causes an error on [this line](https://github.com/es-shims/es6-shim/blob/0.10.1/es6-shim.js#L699).

Object.getPrototypeOf is available in es5-sham but has limitations.

I was just wondering what the recommended approach is; f using es5-sham, what methods might fail in es6-shim.

Als

[2014-03-30 22:23] #235 closed, assigned to nobody

[2014-03-30 22:28] andrewwakeling opened #236 "IE8 - Promises / Object.create"
Hi,

Promises aren't working with IE8 because IE8 doesn't support Object.create. (Problem is occurring [here](https://github.com/paulmillr/es6-shim/blob/0.10.1/es6-shim.js#L1242)).

I noticed that Object.create seems to be used in other places too.

It would be great if the README.md could clarify legacy browser support (e.g. IE <=8). (It mentioned using es5-shim, but it actually requires es5-sham

[2014-03-31 18:20] #234 closed, assigned to nobody

[2014-03-31 18:24] #163 closed, assigned to nobody

[2014-03-31 18:24] #236 closed, assigned to cscott

[2014-04-01 13:26] cscott opened #239 "Update Promise implementation to match new spec"
@domenic has updated the `Promise` spec: https://github.com/domenic/promises-unwrapping/issues/99#issuecomment-39188107

I do not believe there are any functional changes, so this isn't a critical update.  But I should update our implementation to better match the spec to make it more obviously correct (and to simplify, and to check @domenic's work!).

[2014-04-10 17:46] ljharb opened #240 "Object.getPropertyNames relies on deleted Object.getOwnPropertyNames"
We removed getOwnPropertyNames, but getPropertyNames still uses it. This should be failing - we need to add tests for it, and fix the implementation, ASAP.

[2014-04-17 07:08] debuggingfuture opened #242 "optimal performance for looping Map"
what is the most optimal way in terms of performance to loop the Map in es6 shim?
I am trying to use .forEach
http://jsperf.com/es6-shim

it seems it has larger penalty of index vs reference traversal than usual, probably as data did not benefit from array locality?
http://jsperf.com/javascript-graph/2

[2014-04-21 03:01] Yaffle opened #243 "Math.cosh(-Infinity) === -Infinity in Chrome 34"

[2014-04-21 07:26] #243 closed, assigned to nobody

[2014-04-21 07:36] ljharb opened #244 "Function#toMethod"
I think this might be shimmable, but it's worth investigating.

[2014-04-21 20:42] #84 closed, assigned to ljharb

[2014-04-28 18:30] #242 closed, assigned to nobody

[2014-04-29 02:51] xmlking opened #246 "Createing Set from Array"
Unable to create a Set from Array.

[code]

As described at https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set

[2014-04-29 05:06] #246 closed, assigned to nobody

[2014-05-11 18:46] david-risney opened #247 "Cannot import es6-shim in web worker"
A call to `importScripts('es6-shim.js');` in a web worker fails with

[code]

I see this in latest IE & Chrome. Thankfully it looks like the issue is somewhat superficial. I can replace or guard the references to window and it appears to resolve the issue. I'll put up a pull request in a moment.

[2014-05-12 01:06] #247 closed, assigned to nobody

[2014-05-21 14:30] jbmonroe opened #250 "Remove redundant testing of 'kind' in definition of ArrayIterator.prototype.next"
[code]

Once the value of kind is determined, it doesn't need testing again; either this needs 'else' inserted at appropriate locations or it should be a switch.  Since this code is in a loop, it should be as performant as possible. (IMHO, YMMV.)

[2014-05-21 15:05] #250 closed, assigned to nobody

[2014-06-04 01:07] ljharb opened #252 "es6-shim broken in Safari 8"
Safari 8 has a bug, exposing ArrayIterator.

I've filed https://bugs.webkit.org/show_bug.cgi?id=133494 - as long as this gets fixed before Safari 8 is GA'd, then we shouldn't fix it or need to, but in the meantime the shim is broken.

[2014-06-04 05:31] #240 closed, assigned to cscott

[2014-06-04 14:52] DylanLukes opened #253 "String#trim test is not per-spec"
So, I noticed that this is the only test that fails in Chrome:

[code]

So I checked the specification (May 22nd Draft), and in the implementation of `trim` it specifies that only characters designated as white space or line terminators are trimmed.

Exhaustively, these are:
- **Whitespace Characters:** U+0009 (Tab), U+000B (VT), U+000C (Form Feed), U+0020 (Space), U+00A0 (No-Break Space), U+1680

[2014-06-04 17:22] #253 closed, assigned to nobody

[2014-06-04 19:57] ljharb opened #256 "Safari 8: Array#find / Array#findIndex issues"
Per @dylanlukes in #252:

[code]

Sounds like we may need to detect for these bugs, and replace with the shim when appropriate.

We should also file Webkit bugs - if these can be fixed in Safari 8 itself before it's released, then we won't need to support them.

[2014-06-11 02:46] jokeyrhyme opened #260 "String.prototype.substr"
In case you're curious, `String.prototype.substr` is now in Annex B for ECMAScript 6:
http://people.mozilla.org/~jorendorff/es6-draft.html#sec-additional-ecmascript-features-for-web-browsers

So (if this sticks, and there's no reason this part wouldn't) `substr()` is finally an officially required JavaScript feature in the browser.

I also mentioned this over in #162 and at https://github.com/es-s

[2014-06-11 18:17] rwaldron opened #261 "Array.from updates"
22.1.2.1

Step 8.g.7.1 the mapFn should receive both the value and the current "index" (as noted by _nextValue_ and _k_, respectively)

Step 17.d.1 the mapFn should receive both the value and the current "index" (as noted by _kValue_ and _k_, respectively)

http://people.mozilla.org/~jorendorff/es6-draft.html#sec-array.from

[2014-06-11 23:48] #261 closed, assigned to ljharb

[2014-06-30 05:35] getify opened #264 "process.nextTick?"
Regarding: https://github.com/paulmillr/es6-shim/blob/master/es6-shim.js#L1171

I am no expert on this, but I've heard multiple times from different sources that `process.nextTick(..)` in node.js is not suitable for micro-task scheduling because it doesn't first flush the event loop queue, so it can create starvation (which micro-tasks are meant to avoid, at least with promises). I've heard specif

[2014-07-03 09:13] ljharb opened #268 "Flaky Set test"
`Collections Set has an iterator that works with Array.from works with the full set:` will sometimes pass, and sometimes fail with:
`AssertionError: expected [ false, NaN,  ] to deeply equal [ 1, NaN, false ]`

I think this might be because the iterator that `Set` (and possibly `Map`) returns shares it's state across instances, rather than always being a completely new instance.

@cscott, if you h

[2014-07-04 14:21] Yaffle opened #269 "failing test in Chrome 35"
expect(Number.isNaN(Math.clz32(undefined))).to.be.ok;

[2014-07-04 17:09] rwaldron opened #270 "Array.prototype.fill negative arg semantics"
Actual:

[code]

Expect:

[code]

From spec:

[2014-07-04 19:25] #270 closed, assigned to ljharb

[2014-07-05 04:00] #269 closed, assigned to nobody

[2014-07-15 06:05] Yaffle opened #271 "Math.imul is a little buggy"
var v = Math.imul({x: 0, valueOf: function () {
  this.x = this.x + 1;
  return this.x;
}}, 1);

[2014-07-15 07:56] #271 closed, assigned to nobody

[2014-07-15 08:00] ljharb opened #272 "Worker tests fail under file://"
Looks like the worker tests don't work properly on `file://` - the test "can import es6-shim" seems to fail in Chrome with the error `Error: Failed to construct 'Worker': Script at 'file://localhost/Users/jharband/Dropbox/git/ljharb-es6-shim.git/test/worker-runner.workerjs' cannot be accessed from origin 'null'.`

[2014-07-15 21:12] #272 closed, assigned to nobody

[2014-07-17 15:32] gwicke opened #276 "Promise performance: Most time spent in defineProperties"
Here is a screenshot of a profile of a HTTP server using es6-shim promises on Node 0.10 (created using https://github.com/gwicke/nodegrind):

![es6-0 10](https://cloud.githubusercontent.com/assets/1225898/3615286/fdbe9738-0dc6-11e4-8a9f-20fa1ca72733.png)

The stand-out method is defineProperties, with 62% of all CPU time spent in es6-shim. Any optimizations in that area would likely have a big imp

[2014-07-21 01:04] rwaldron opened #277 "Symbol is a function, not object"
https://github.com/paulmillr/es6-shim/blob/master/es6-shim.js#L102

http://people.mozilla.org/~jorendorff/es6-draft.html#sec-symbol-constructor

[2014-07-21 02:31] #277 closed, assigned to nobody

[2014-08-04 07:10] domenic opened #278 "Use test262 format for tests, and submit your tests to test262"
If you guys are interested in this, you have some of the better tests in existence, and test262 would benefit from them greatly. Then hopefully stupid things like Safari's non-compliant implementations would not happen, because everybody would be running your tests :)

I'd love to help in any way I can to make this process more smooth, if you are up for it.

I am trying to blaze the trail with my

[2014-08-06 23:03] rwaldron opened #280 "find, findIndex, contains will no longer check for holes"
Discussion is here: https://bugs.ecmascript.org/show_bug.cgi?id=3107

Yes, inconsistent with existing Array methods, but I think better in the long term.

[2014-08-07 02:37] #280 closed, assigned to ljharb

[2014-08-21 21:58] ide opened #282 "Set constructor does not follow spec"
Based on my reading of https://people.mozilla.org/~jorendorff/es6-draft.html#sec-set-objects and looking at Safari 8 / iOS 8's behavior, `Set(...)` and `new Set(...)` should behave differently. Specifically. `Set(...)` called as a function optionally takes an iterable while `new Set(...)` called as a constructor takes variable arguments.

Safari 8 (10600.1.8) native Set implementation:

[code]

[2014-08-21 22:15] #282 closed, assigned to nobody

[2014-09-04 15:03] #264 closed, assigned to cscott

[2014-09-04 15:14] #67 closed, assigned to nobody

[2014-09-04 22:36] #260 closed, assigned to ljharb

[2014-09-07 06:11] ljharb opened #286 "Worker test failure: "can import es6-shim" in IE 10-11"
I'm not sure how to diagnose this failure, but the worker tests fail in IE 10 and 11.

ping @david-risney

[2014-09-07 06:35] ljharb opened #287 "Object.keys throws on regexes in ES3 browsers"
It seems `Object(/a/g)`, in ES3 browsers (Safari 4 for example), doesn't return an object that our shimmed `Object.keys` can handle, and it throws.

[2014-09-07 06:53] #286 closed, assigned to nobody

[2014-09-23 05:09] ljharb opened #288 "Safari 7.1: native Promises fail some tests"
There are 11 test failures on Safari 7.1, all related to the native Promises it ships with.

Let's figure out how to detect and patch these.

[2014-09-23 06:49] #288 closed, assigned to cscott

[2014-10-01 20:59] ndhoule opened #290 "Sets don't always preserve insertion order"
Per my reading of the current spec, sets [should should preserve order of insertion](https://people.mozilla.org/~jorendorff/es6-draft.html#sec-set.prototype.foreach). Most other implementations I've checked (Traceur, Firefox, Chrome Canary) do respect insertion order, but `es6-shim`'s don't.

Repro case in Chrome 37.0.2062.124:

[code]

(I'm using `Array.from` here for brevity, but also used the s

[2014-10-02 18:34] #290 closed, assigned to ljharb

[2014-10-07 00:10] jdalton opened #293 "Array methods should respect the realm of the `this`."
For example see step 9 of this https://people.mozilla.org/~jorendorff/es6-draft.html#sec-array.prototype.filter

[code]

[2014-10-14 18:24] ckknight opened #295 "Map.prototype.set, WeakMap.prototype.set and Set.prototype.add should be chainable"
Currently the `set` and `add` methods return undefined, but as per https://people.mozilla.org/~jorendorff/es6-draft.html#sec-this.add-eset.prototype.add-value, `this` should be returned.

[code]

[2014-10-14 20:54] #295 closed, assigned to ljharb

[2014-10-20 19:48] appsforartists opened #296 "0.19 not published to npm"
`package.json` says the latest version is `0.19.1`, but `npm` can only find `es6-shim@0.18.0`.

[2014-10-20 20:03] #296 closed, assigned to ljharb

[2014-10-20 21:52] appsforartists opened #297 "Break es6-shim into smaller, independent submodules"
Libraries like `prfun` (incidentally recommended in the [`es6-shim` README](https://github.com/paulmillr/es6-shim)) augment the Promise prototype with additional methods.  `Promise.promisify` is particularly nice.

I just tried incorporating the `es6-shim` into my Node 0.11.13 project to get access to the Array polyfills.  Now, I'm getting `Promise.promisify cannot be found` errors.  A quick skim

[2014-10-25 20:23] cyme opened #298 "Set.prototype.delete return value issue"
Per the ES6 spec, Set.prototype.delete returns a boolean indicating whether the entry was successfully removed from the set: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set/delete

The Set.prototype.delete implementation appears to return no value.

[2014-10-26 02:19] #298 closed, assigned to ljharb

[2014-10-29 06:22] garryyao opened #299 "UMD factory code breaks in requirejs"
`undefined` as the [first argument](https://github.com/paulmillr/es6-shim/blob/d8ce5cefa7f99562922ba1fa71d47084d032d5b5/es6-shim.js#L26) of the UMD factory function doesn't work in AMD/requireJS where the first argument is instead a `localRequire` function.

[2014-10-29 06:35] #299 closed, assigned to nobody

[2014-11-07 19:44] stewart opened #301 "es6-shim breaks Chrome App CSP"
Unless sandboxed, `es6-shim` cannot run inside of Chrome Apps right now due to [this line](https://github.com/paulmillr/es6-shim/blob/master/es6-shim.js#L72), which triggers the CSP, and is functionally an `eval()` statement.

I'm unsure if the best fix is reverting https://github.com/paulmillr/es6-shim/commit/ceeb51cc99bbe3729e96eae8c7af966a2d67dfde, or if a better solution can be found.

[2014-11-15 06:35] Yaffle opened #302 "`Set.prototype.add` does not always return `this` object"
see test case in https://github.com/kangax/compat-table/pull/314

[2014-11-15 15:55] #302 closed, assigned to ljharb

[2014-11-18 18:43] ljharb opened #303 "Revise ES6 Construct (Promise,Map,Set) to follow latest spec"
https://github.com/paulmillr/es6-shim/blob/master/es6-shim.js#L161-L174 no longer applies, since as of [Rev 28](http://wiki.ecmascript.org/doku.php?id=harmony:specification_drafts) `@@create` no longer exist.

Should we thus remove this function?

[2014-11-18 21:40] #256 closed, assigned to nobody

[2014-11-18 21:40] #252 closed, assigned to nobody

[2014-11-18 21:41] #244 closed, assigned to nobody

[2014-11-18 21:51] #57 closed, assigned to nobody

[2014-11-18 21:52] #134 closed, assigned to nobody

[2014-11-18 22:16] ljharb opened #304 "Clarify Set([iterable]) versus new Set(list, of, items)"
The spec is clear but inconsistent on `Set([1, 2, 3])` versus `Set(1, 2, 3)` versus `new Set([1, 2, 3])` versus `new Set(1, 2, 3)` - specifically, how many items do each of these have?

The current spec seems to indicate the answers are `3`, `TypeError`, `1`, and `3`, respectively.

[2014-11-18 22:55] #304 closed, assigned to nobody

[2014-11-19 01:07] ljharb opened #305 "Documenting Object.assign pending exception"
Per https://twitter.com/sindresorhus/status/499462674439495680 and the ES6 spec, `Object.assign` is supposed to hold on to the first exception thrown, and continue iterating, and after every succeedable assignment is done, throw that first exception.

[2014-11-19 01:07] #305 closed, assigned to nobody

[2014-11-21 07:51] paulmillr opened #306 "String#contains is now String#includes"
see the spec

[2014-11-21 08:25] #306 closed, assigned to ljharb

[2014-11-25 10:53] iliakan opened #307 "String.prototype.contains"
Guess, that's the today's name for String.prototype.includes ?

[2014-11-25 11:24] #307 closed, assigned to nobody

[2014-12-05 16:16] mikemaccana opened #308 "Add Array.prototype.find() support?"
See https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/find

[2014-12-05 17:31] #308 closed, assigned to nobody

[2014-12-15 01:44] timoxley opened #311 "Unhandled Promise errors"
Currently, if there's no `.catch` errors will vanish mysteriously. Native promises in chrome  41.0.2249.0 (current canary) will print a message about unhandled promise errors:

![image](https://cloud.githubusercontent.com/assets/43438/5430004/891d6aa6-843d-11e4-8df2-2a924e714637.png)

but if the es6-shim is loaded, it clobbers the native Promise because it doesn't seem to support subclassing, and

[2014-12-15 21:41] niemyjski opened #312 "Test failed under PhantomJS as of 0.21.1"
[15:37:56][Step 3/4] Running "karma:all_tests" (karma) task
[15:38:00][Step 3/4] PhantomJS 1.9.8 (Windows 8) ERROR
[15:38:00][Step 3/4]   TypeError: 'undefined' is not a function (evaluating 'Function.call.bind(String.prototype.indexOf)')
[15:38:00][Step 3/4]   at C:/TeamCity/buildAgent/work/3e6130cb0bb9bb89/src/bower_components/es6-shim/es6-shim.js:83
[15:38:00][Step 3/4]
[15:38:00][Step 3/4] Fin

[2014-12-16 07:28] #312 closed, assigned to nobody

[2015-01-05 07:45] ljharb commented on #303
@cscott any update on this one?

[2015-01-13 09:51] Yaffle opened #314 "relative error is too big for Math.expm1 and Math.log1p"
Math.expm1(-2e-17)

Math.log1p(-2e-17)

[2015-01-13 09:57] ljharb commented on #314
The spec doesn't tend to define precision very well for its Math operations. Can you link to something in the spec that's incorrect here? What values do you expect? In what browser(s) are you getting which values that you don't expect?

[2015-01-13 10:29] Yaffle commented on #314
@ljharb , so why not to use `Math.exp(x) - 1` or `Math.log(1 + x)` ?
You can define `Math.expm1 = function (){}` according to the spec, but does this make your shim good?

https://github.com/kangax/compat-table/issues/392

[2015-01-13 10:33] ljharb commented on #314
I'm still not understanding what this issue is about. All three of the variables referenced in the compat-table issue return `true` for me in Chrome with or without the `es6-shim` (since they're native). In which browsers are you seeing any of these return false?

Also, if the spec does not explicitly say that your error criteria must be applied, then *they need not be applied by this shim* or by

[2015-01-16 17:47] ljharb commented on #314
Thanks for your examples - I'm sorry we continue to have misunderstandings in these issues, I hope we can chalk it up to language barriers.

I've added failing tests for `log1p`, and corrected them, in the `es6-shim`. While our number 1 priority is to comply with the spec, number 2 is, when it doesn't conflict with the spec, to comply with the majority of implementations - in this case, both of th

[2015-01-16 17:47] #314 closed

[2015-01-16 17:59] Yaffle commented on #314
I have only this(using Taylor series expansion):
[code]

[2015-01-16 18:12] ljharb commented on #314
@Yaffle Thanks, that seems to do it! Can you suggest more meaningful variable names than "t", "s", and "n"?

[2015-02-18 15:42] rwaldron opened #315 ""chalk" adds non-function String#bold; breaks v0.25.1."
https://github.com/paulmillr/es6-shim/commit/a0e0544eefd6b42b5e514584a4413033ed1c3219#commitcomment-9801840

[2015-02-18 18:30] ljharb commented on #315
Thanks for the report! This definitely isn't meant to break. Can you provide some more info about what's breaking and what environment it's breaking on?

[2015-02-18 18:37] ljharb commented on #315
My confusion here is that every key in https://github.com/paulmillr/es6-shim/commit/a0e0544eefd6b42b5e514584a4413033ed1c3219#diff-fbdfeb59ea7599799df83561186da7dfR2522 is installed on `String.prototype` in https://github.com/paulmillr/es6-shim/commit/a0e0544eefd6b42b5e514584a4413033ed1c3219#diff-fbdfeb59ea7599799df83561186da7dfR2521 - I wonder if arduinos have an Object.keys bug?

[2015-02-18 18:54] ljharb commented on #315
OK, I think I figured it out. The `npm` module `chalk` unfortunately modifies `String.prototype` - which is not only a bad idea (for things that aren't shims), but also, it means that `es6-shim` is being required in after `chalk` is required, and usually the shim should be run first.

That said, I can certainly work around this.

[2015-02-18 19:01] #315 closed

[2015-02-18 19:02] ljharb commented on #315
Fix will be published shortly - that said, I'd avoid using "chalk" if at all possible in the future.

[2015-02-18 22:38] olizilla commented on #315
for future archeologists, it's colors.js that's all up in the String.prototype, causing trouble, not chalk.

[2015-02-18 23:52] ljharb commented on #315
@olizilla thanks, i've updated all my comments and the issue description

[2015-02-20 23:29] chrisjshull opened #316 "LICENSE is broken"
Licensing comment in source code tells you to `see https://github.com/paulmillr/es6-shim/blob/0.25.2/LICENSE`.
but that leads to a 404.

[2015-02-21 06:40] #316 closed

[2015-02-21 06:41] ljharb commented on #316
Thanks, not sure how we missed that this whole time :-)

[2015-02-23 02:22] webbedspace opened #320 "README needs updating to mention Reflect and String HTML methods"

[2015-02-23 03:54] ljharb commented on #320
ah ha, so it does. Thanks for keeping me honest :-) PR welcome, otherwise I'll take care of it soon.

[2015-02-24 06:08] #320 closed

[2015-02-25 05:30] webbedspace opened #321 "Map/Set error message is misleading"
The error message for calling `Map` without a function is `'Map does not accept arguments when called as a function'`, but it should really read `'Map cannot be called as a function'`. Ditto Set.

(In the current spec, Map will [always throw](https://people.mozilla.org/~jorendorff/es6-draft.html#sec-map-iterable) without the `new` keyword, regardless of arguments.)

[2015-02-25 18:40] ljharb commented on #321
Thanks, these messages are what current engines that implemented `Map`/`Set` threw, but now `io.js`'s v8 implements them correctly, I'll update them to use their messages.

[2015-02-25 18:40] #321 closed

[2015-02-25 23:42] webbedspace commented on #321
In addition, you should update it so that `Map.call(new Map())` is an error (ditto Set).

[2015-02-26 00:12] ljharb commented on #321
I'm not sure if that's possible - `NewTarget` can't be shimmed or detected.

[2015-02-26 08:47] zloirock opened #322 "Array#slice bug"
About https://github.com/paulmillr/es6-shim/commit/bdd9804ddede0515b34646959d409c3c7a259e61 / https://github.com/kangax/compat-table/issues/453

By spec, [ArraySpeciesCreate](http://people.mozilla.org/~jorendorff/es6-draft.html#sec-arrayspeciescreate) shoud create instance `arrayLike.constructor` / `arrayLike.constructor[@@spicies]` only if `arrayLike` is array, see steps 4-7.

Current implementat

[2015-02-26 09:08] ljharb commented on #322
Unpublished `v0.27.0` from `npm` pending this issue.

[2015-03-05 09:28] ljharb commented on #322
After rereading the spec algorithm, I think that perhaps this isn't shimmable. I'm going to revert this for now and revisit it in the future.

[2015-03-05 09:28] #322 closed

[2015-03-07 19:25] sandstrom commented on #301
CSP is quite handy and — in addition to being used in Chrome apps and Firefox OS — many web applications also use it. We're one of them and just ran into this.

Would anthonyryan1's method work? [https://github.com/paulmillr/es6-shim/issues/301#issuecomment-64966395]

[2015-03-07 23:50] ljharb commented on #301
@sandstrom See my response right below it: https://github.com/paulmillr/es6-shim/issues/301#issuecomment-64973036

[2015-03-10 01:18] chrishyle commented on #136
:+1:

[2015-03-10 01:19] chrishyle commented on #297
:+1:

[2015-03-10 18:18] paulmillr commented on #297
Why don't you just use individual shims?

[2015-03-10 18:50] zloirock commented on #297
@paulmillr total size and compatibility? For example, [`Array.from`](https://github.com/mathiasbynens/Array.from) individual shim not supports iterators, which makes it almost useless.
P.S. [`core-js`](https://github.com/zloirock/core-js#commonjs) supports custom build and splitted to commonjs submodules (not fully yet) :)

[2015-03-10 18:59] paulmillr commented on #297
I'm reluctant to the idea of ES6 shim consisting of 20 npm submodules. maybe something what @appsforartists mentioned

[2015-03-10 19:16] ljharb commented on #297
Why does the number of submodules matter? The size of the built JS file used in a browser would be basically equivalent, and "more dependencies" is a good thing :-)

[2015-03-10 21:03] paulmillr commented on #297
not when you see npm making 1000 requests to the server on a slow connection. Ask jdalton for his terrible experience with breaking down lodash

[2015-03-10 21:46] appsforartists commented on #297
As a Webpack user, a monolithic library that touches a bunch of unrelated native prototypes is very unappealing.  I didn't know about [core-js](https://github.com/zloirock/core-js) when I opened this issue, but now that @zloirock has shared that link, I may go there the next time I need a polyfill because of its modularity.

(FWIW, I think @ljharb is on the right track - if you want to release a s

[2015-03-10 21:52] jdalton commented on #297
:heart: modules.

[2015-03-10 22:36] paulmillr commented on #297
@jdalton where are all github repos for lodash methods?

[2015-03-10 23:05] appsforartists commented on #297
@paulmillr - think files, not repos

[2015-03-10 23:20] jdalton commented on #297
What @appsforartists said.

https://github.com/lodash/lodash/tree/amd
https://github.com/lodash/lodash/tree/es
https://github.com/lodash/lodash/tree/npm
https://github.com/lodash/lodash/tree/npm-packages

https://github.com/lodash/lodash-compat/tree/amd
https://github.com/lodash/lodash-compat/tree/npm

https://github.com/lodash/lodash-node
https://github.com/lodash/lodash-amd

[2015-03-10 23:55] paulmillr commented on #297
hmm interesting

yeah, maybe that'll work. One repo, many files.

[2015-03-21 18:26] monolithed commented on #297
+1

[2015-03-21 18:27] monolithed commented on #136
Are there any plans?

[2015-03-22 00:48] ljharb commented on #136
I think this would need to happen after #297.

[2015-03-30 04:03] reutopiaer opened #324 "Can't work with webcomponents.js(@version 0.5.5)"
es6-shim.js:29903 Uncaught RangeError: Maximum call stack size exceeded

    <!doctype html>
    <html>
    <head>
         <title></title>
        <script src="/quickstart/dist/es6-shim.js"></script>
        <script src="/bower_components/webcomponents.js/webcomponents.js"></script>
    </head>
    <body>
    </body>
    </html>

[2015-03-30 04:35] ljharb commented on #324
I'm not sure what "webcomponents" is - can you provide more detail? Specifically, which function is hitting a recursion limit, and what the github repo (and npm package name) is for this?

[2015-04-01 05:24] reutopiaer commented on #324
@ljharb   A suite of polyfills supporting the HTML Web Components specs  https://github.com/webcomponents/webcomponentsjs
http://webcomponents.org/polyfills/

I want use es6-shim with polymerjs

[2015-04-01 05:33] ljharb commented on #324
So which function is hitting a recursion limit? There's not 29,903 lines in `es6-shim.js` :-)

[2015-04-01 06:47] reutopiaer commented on #324
I‘m very Sorry!   I have a huge mistake.
I just find that my es6-shim.js is download from:  https://github.com/angular/quickstart/blob/master/dist/es6-shim.js

[2015-04-01 06:47] #324 closed

[2015-04-07 08:29] gobwas commented on #297
+1

[2015-04-07 18:35] ljharb opened #326 "When overwriting native `Map`, use one internally for O(1) lookups"
Even when overwriting native `Map` that doesn't comply with the spec, we should use the native `Map` internally rather than our O(n) slow path for object keys.

[2015-04-07 19:04] cscott commented on #326
Quite possibly.  Right now we test a variety of things, and if any of them are not spec-compliant, we fall back to our own from-scratch implementation.

Maps (and Sets) are common enough that we perhaps should add a middle-ground type of fallback, where we substantially use the native implementation but only override a few things.

But profiling seems to indicate that's not actually the problem/co

[2015-04-07 19:10] ljharb commented on #326
The shim's primary goal is correctness, but performance is next, so I'd love to get both whenever possible.

I'd love to see PRs that made any "clobber the broken native implementation" code more performant.

[2015-04-07 21:29] zloirock commented on #326
If you interesting, how works collection polyfilling in `core-js`:

* If collection not [convert `-0` key to `+0`](http://kangax.github.io/compat-table/es6/#Map_-0_key_converts_to_+0) - wrap collections methods
* If collection not [support chaining](http://kangax.github.io/compat-table/es6/#Map_Map.prototype.set_returns_this) - wrap `set` or `add`
* If collection can't be init from iterable or [*n

[2015-04-08 09:42] ljharb commented on #326
@zloirock what do you do for browsers like Safari 8 which has entries/keys/values methods that work in for..of but not as independent iterators?

What do you do in engines that don't have a native Map at all? (Note that mutating objects to add an ID is a far worse violation of the spec than `O(n)`)

[2015-04-08 10:15] zloirock commented on #326
@ljharb

Additional buggy iterators check - fully replace collection. Possible emulate iterators by using `forEach` (used it before), but it creates some problems and slow.

Strongly disagree.

Entries chain and O(1) index for all keys except frozen objects.

[2015-04-08 10:28] ljharb commented on #326
Mutation is clearly a violation of the spec. You can certainly make your own decision about which violation is worse or better, but I'd be surprised if many developers expected mutation more than they expected slowness.

[2015-04-08 10:45] zloirock commented on #326
That's your opinion, I will not persuade you. I just suggest ways to fix native collections without complete replacement.

[2015-04-08 23:31] ljharb opened #329 "Web Worker tests fail in Firefox 4/5"
The Web Worker tests fail in Firefox 4/5:

[code]

[2015-04-08 23:34] ljharb commented on #329
They also seem to fail in Firefox 14, but with an error about `Map#keys` not being a function.

[2015-04-09 00:18] ljharb commented on #326
With #328, there's still some browsers on the `Map/`Set` spectrum between IE 9 and latest Chrome that do have native collections, but have been totally clobbered - but that PR should preserve much or all of the native implementation.

I've also corrected the subclassing tests that were incorrectly using `Map.call(this)` - basically, to subclass `Map` and `Set`, `Object.setPrototypeOf` must be supp

[2015-04-09 18:14] ljharb commented on #326
There's still a few browers (Safari 8 in particular) where we're clobbering the entire implementation, so we still need to look into that here.

@zloirock Thanks for your persistence! Despite that we disagree on priorities of performance versus non-performance-correctness, your suggestions have helped me to improve the former without sacrificing the latter, so it's much appreciated.

[2015-04-10 08:44] ljharb commented on #268
This just happened again. https://travis-ci.org/ljharb/es6-shim/jobs/57920037
[code]

[2015-04-10 13:58] Yaffle opened #330 "Accuracy of Math.cbrt"
I have added 2 lines of code:

[code]

[2015-04-11 23:44] ljharb opened #331 "Object.assign pending exceptions test doesn't throw in Opera 11.6"
The `Object.assign` pending exceptions test doesn't throw in Opera 11.6.

[2015-04-12 10:09] medikoo commented on #326
If I read the [spec](http://people.mozilla.org/~jorendorff/es6-draft.html#sec-map.prototype.has) correctly, it describes key search with `O(n)` algorithm.
Of course I don't mean that it should be followed, but my question is: On which basis it is assumed that native implementations internally do `O(1)`?
Is it observed from benchmarks, read from their source code, or is it just no-brainer assumptio

[2015-04-12 10:23] zloirock commented on #326
@medikoo

[2015-04-12 10:34] medikoo commented on #326
@zloirock great thanks, that answers perfectly.

[2015-04-12 16:14] ljharb commented on #326
The reality is that prior to native ES6, there is no "other mechanism" available. The spec doesn't mention mutating in http://people.mozilla.org/%7Ejorendorff/es6-draft.html#sec-map.prototype.set, which means that that must *never* be any mutation of `key` or `value`.

Any way to implement O(1) without mutation or native Maps is welcome, but I've not seen it yet.

[2015-04-13 20:26] niemyjski opened #333 "Access is denied errors on IE11 latest"
I'm running on windows 8.1 x64 and I noticed that I'm getting access denied errors. If it matters I'm running es5 and es6 shim on ie edge.

[code]

![image](https://cloud.githubusercontent.com/assets/1020579/7124769/52eea7e4-e1f1-11e4-928b-a3bd33942a4c.png)

![image](https://cloud.githubusercontent.com/assets/1020579/7124779/647a314a-e1f1-11e4-8f71-623cf555c8bf.png)

[2015-04-13 20:28] KasperLK commented on #333
+1

[2015-04-13 20:29] ljharb commented on #333
Thanks for the report! I'll check on this asap. Is this the latest published version of `es6-shim` (which specifically?)?

[2015-04-13 20:30] niemyjski commented on #333
I was seeing this in 0.27.x as well as 0.28.2

[2015-04-13 20:31] niemyjski commented on #333
The code looks fine as well as the passed in objects, I'm not sure why ie is blowing up but it is.

[2015-04-13 20:33] ljharb commented on #333
Are you using any other libraries? react, core.js, things like that?

[2015-04-13 20:35] niemyjski commented on #333
Angular: Here is the site I saw this error on: https://github.com/exceptionless/Exceptionless.ui

[2015-04-13 20:44] zloirock commented on #333
Interestingly.

[2015-04-13 20:52] niemyjski commented on #333
Any ideas on the cause?

[2015-04-13 20:52] ljharb commented on #333
`Object.getOwnPropertyNames` is working just fine in my manual testing. Exceptionless is pretty big so I'm not sure how I'd figure out the problem, but since this has happened a couple times before, I suspect that something in Exceptionless is either a) modifying globals, or b) using host objects in unexpected ways.

[2015-04-13 20:54] niemyjski commented on #333
I'm wrapping everything inside of a function and using strict mode. No where am I aware of adding a global / leaking/modifying anything.

[2015-04-13 20:54] niemyjski commented on #333
I get it on any screen, any of the auth ones / status page are not loading up very much.

[2015-04-13 21:01] niemyjski commented on #333
Okay! good news, I can reproduce it in a very simple sample:

[code]

[2015-04-13 21:08] ljharb commented on #333
ooh, ok so it may be a conflict with Stripe's code. I'll look into that, thanks

[2015-04-13 21:11] niemyjski commented on #333
I just sent them an email as well with a link to this issue.

[2015-04-13 21:12] niemyjski commented on #333
Please let me know if there is anything I can do. I think this issue is causing other js errors (because this one is uncaught) on our site with ie11.

[2015-04-13 22:50] metcalf commented on #333
I work on Stripe.js and am trying to reproduce the problem. I'm not seeing the same thing on a Windows 8.1 VM with a slightly older version of IE. Does something like this repro the problem for you or do I need something standalone that doesn't frame the content?

https://jsfiddle.net/n09c2jww/1/

[2015-04-13 22:54] niemyjski commented on #333
Thanks for looking into this. Yes, I can reproduce using that fiddle:
![image](https://cloud.githubusercontent.com/assets/1020579/7127186/12c35e8e-e206-11e4-940b-0ece74e14e71.png)

[2015-04-13 22:55] niemyjski commented on #333
![image](https://cloud.githubusercontent.com/assets/1020579/7127206/4e284494-e206-11e4-850d-536119c9dfec.png)

[2015-04-13 23:07] zloirock commented on #333
Simple reproducible case with this script, `.call(Object, it)` not works too:
[code]
F***** IE :)

[2015-04-13 23:11] ljharb commented on #333
@metcalf Thanks for responding so quickly!

I can not reproduce the error with https://jsfiddle.net/n09c2jww/1/ on IE 11 TP, fwiw.

@zloirock Are you saying that the `.call(Object` is what's breaking it?

[2015-04-13 23:13] zloirock commented on #333
@ljharb any wrapper breaking this code.

[2015-04-13 23:14] ljharb commented on #333
@metcalf Are you doing anything with `Object.getOwnPropertyNames` in stripe's code besides calling it directly?

[2015-04-13 23:14] niemyjski commented on #333
If you guys can't reproduce I'll let you repo on my machine :). I've been able to reproduce on two machines.

[2015-04-13 23:17] ljharb commented on #333
Oddly enough I can't reproduce it on Windows 8.1 IE 11, but I can on Windows 7 IE 11 (on browserstack)

[2015-04-13 23:22] ljharb commented on #333
ah HA - it's because it's receiving a `window` object that the same origin policy doesn't allow it to access.

At the moment it's failing, `value !== window` and `originalObjectGetOwnPropertyNames(window)` works, but `originalObjectGetOwnPropertyNames(value)` gives an access denied error.

@metcalf This is almost certainly related to iframes, and attempting to enumerate the child iframe's global o

[2015-04-13 23:25] niemyjski commented on #333
I'm seeing this in our app and we have no iframes....

[2015-04-13 23:29] ljharb commented on #333
@niemyjski stripe uses one though, i believe

[2015-04-14 00:09] niemyjski commented on #333
@ljharb ahh :) I haven't looked through their code.

[2015-04-14 02:09] metcalf commented on #333
OK, I upgraded IE inside my VM to the latest version and can now reproduce.

@ljharb we do create an iframe for some of the communications back to our API server. This seems to be a more general problem with scripts that work with iframes given that it affects Stripe Checkout as well:
https://jsfiddle.net/tm0bsbt1/

I'm trying to come up with a minimal repro and suspecting something to do with pos

[2015-04-14 02:28] metcalf commented on #333
This appears to reproduce simply by embedding a cross-domain iframe in the page somewhere:
https://jsfiddle.net/tm0bsbt1/9/

The issue goes away if you point the frame at "about:blank":
https://jsfiddle.net/tm0bsbt1/12/

[2015-04-14 07:49] ljharb commented on #333
@metcalf I can't reproduce it on https://jsfiddle.net/tm0bsbt1/9/ - but still can on https://jsfiddle.net/tm0bsbt1/ . Could you provide the lines of your stripe code that's calling `Object.getOwnPropertyNames`? https://checkout.stripe.com/checkout.js is minified.

[2015-04-14 08:06] ljharb opened #334 "Chrome 41: `Math.asinh` and `Math.atanh` are imprecise"
[code]

Both of these are true in shimmed Firefox 37 and Safari 8, both false in Chrome 41 and Chrome Canary 44.

From https://github.com/kangax/compat-table/issues/392#issuecomment-92308965

[2015-04-14 08:25] ljharb commented on #334
@Yaffle Note that our actual `asinh` shim fails this test - the native ones don't.

[2015-04-14 19:26] ljharb commented on #330
Closed via https://github.com/paulmillr/es6-shim/commit/5a7f3d770775a895b2962232622aeb7a49a8335e / #335

[2015-04-14 19:26] #330 closed

[2015-04-15 17:28] metcalf commented on #333
I don't actually see anything from our code in the stack trace, nor do we call `getOwnPropertyNames` anywhere in checkout.js. I just double checked the repro on https://jsfiddle.net/tm0bsbt1/9/. Are you using Windows 8.1 with build 11.0.9600.0.17960?

My suspicion is that IE is calling `getOwnPropertyNames` internally somewhere in the layout engine. The native implementation has special, elevated

[2015-04-15 17:32] niemyjski commented on #333
I'm able to reproduce (ran windows updates yest) using that sample on
![image](https://cloud.githubusercontent.com/assets/1020579/7165160/792d1384-e36b-11e4-806d-ef525769dcf0.png)

[2015-04-15 18:20] ljharb commented on #333
@metcalf I think you're correct.

I'm not sure sure what to do here:
 - It would be a change to make `Object.getOwnPropertyNames` *not* accept primitives in the shim *everywhere* just to accomodate this one specific IE 11 on specific Windows versions.
 - It wouldn't be acceptable imo to have it only not accept primitives on that one browser - since that'd just be pushing the exception to a later t

[2015-04-20 11:52] use-strict commented on #333
Reproduces like described by @niemyjski, with a twitter widget iframe. It appears that somehow IE uses the patched Object inside the iframe and can no longer access the code which originated from a different domain (the parent frame).

@ljharb, given this limitation, it may not be possible to polyfill object static methods to accept primitives on IE. It would be safer to treat this as non-polyfill

[2015-04-20 18:30] ljharb commented on #333
@use-strict In order to avoid polyfilling it on IE (and it seems specific to IE 11 only), I'd need a reliable way to detect it in JS - the iframe approach doesn't seem try/catchable, and using window.onerror is not something I'd feel comfortable doing.

I agree that the second option defeats the purpose of the polyfill.

Since this seems to only occur for `getOwnPropertyNames`, that's the only one

[2015-04-20 18:50] ljharb commented on #333
I've spoken to the IE team and this bug has been filed, so hopefully that will either/both shed some light on how to detect/avoid this problem, and fix it in future versions (hopefully in an IE 11 patch even).

[2015-04-22 14:42] entreehub commented on #333
I'm having this same issue too. I've even tried other polyfils like core-js, babel's browser-polyfill.js file, all come up with the same error ass above, the getOwnPropertyNames(it)...it being the window. 'access is denied'.

[2015-04-22 14:57] zloirock commented on #333
@entreehub you can [build](https://github.com/zloirock/core-js#custom-build) `core-js` without `es6.symbol` and `es6.object.statics-accept-primitives`
[code]
or [require only needed modules](https://github.com/zloirock/core-js#commonjs), should work.

[2015-04-22 15:16] entreehub commented on #333
@zloirock Thanks, the problem is I need Symbols...I have been using them quite a bit. Works great in everything but ie11.

[2015-04-29 19:51] Jamtis opened #339 ""bad map" error"
Hi folks,

on Nodejs **v0.10.33** I get the following error:
[code]

Is this a fault of mine?
If so how do I implement it correctly?

[2015-04-29 21:16] ljharb commented on #339
Pretty sure it's not your fault :-)

Note, however, that `Symbols` are not actually shimmable without caveats in an engine that doesn't have them natively - so all bets are off once you've attempted to do that.

`require('es6-shim')` works fine in node 0.10. What happens if you require the es6 shim first, before `es6-symbol`?

[2015-04-30 09:49] Jamtis commented on #339
Thanks for the quick reply.
When I require "es6-shim" first I don't get errors but `[Symbol.Iterator]` of map instances is undefined which is exactly what I need.
Is "es6-shim" capable of shimming `[Symbol.Iterator]` in maps?

[2015-04-30 22:04] ljharb commented on #339
Because Symbols are unshimmable (and anything attempting to shim them is violating parts of the JS spec), `es6-shim` in an environment without Symbols uses the arbitrary `'_es6-shim iterator_'` property (`'@@iterator'` in some engines) to store its default iterators.

Why do you specifically need `Symbol.iterator` in an environment without `for..of`?

[2015-05-01 00:08] Jamtis commented on #339
I use [babel](https://babeljs.io/) to transpile ES6-code containing for..of loops.
Babel transpiles it to ES5-code that uses `Symbol.iterator`.
I agree with the consideration of violating the JS spec.
So is it a neccessary to have Symbols to iterate over iterables in general or is it babel that's wrong by using `Symbol.iterator`?

[2015-05-01 00:57] ljharb commented on #339
imo, it's babel that's wrong for attempting to shim Symbols in this way. However, I believe you can specify that in the options, or with a babel transform? Also, if you don't use `core-js` or `es6-symbol`, it won't try to shim `Symbol`, so I'd think babel can transpile Symbol code to something else?

[2015-05-01 11:57] Jamtis commented on #339
By default babel does not shim Symbols but use it in for..of loop transpilations, I didn't find a way to avoid using Symbols.
With `babel/polyfill` (what I use now) Symbols can be shimmed.
It's not a good soluation because it violates the JS specs but better than non-working code. :smile:

es6-shim shall not try to shim Symbols which is right.
But whats the cause of the "bad map" error?
If either

[2015-05-03 01:10] monolithed commented on #297
It would be great to have the following bundles

Math
String
Number
Promise
RegExp
Array
Object
Reflect
Collection
Symbol

[2015-05-03 01:54] ljharb commented on #297
If and when we do this, you'll be able to import a la `Array`, `Array.prototype`, `Array.prototype.find` - any granularity you wish.

[2015-05-04 01:05] ljharb commented on #339
Our `Map` construction code path uses `Symbol.species`, but if it's not available at require time, it uses the string `"@@species"`. The `es6-shim` wasn't written to take advantage of non-native `Symbol`s, so it's likely that this interaction is where the problem lies.

Oddly enough, `Object.getOwnPropertySymbols` is not shimmed by `es6-symbol`.

[2015-05-04 01:08] ljharb commented on #339
OK, so - it looks like `Object.prototype[Symbol.species]` is set to `undefined` by `es6-symbol`, which means `Symbol.species in Map` returns `true`, and so `es6-shim`'s internal `defineProperty` check refuses to overwrite it.

Thus, while this is a specific use case that `es6-shim` could hack around, the reality is that `es6-symbol` is putting properties on `Object.prototype` which make valid `in`

[2015-05-04 01:15] Jamtis commented on #339
Okay, if I got it right `es6-symbol` is not spec-compilant (besides privacy).
Therefore `es6-shim` crashes due to illegal properties?

[2015-05-04 01:16] ljharb commented on #339
Yes - specifically, `Symbol.species in Map` returns true because `Object.prototype.hasOwnProperty(Symbol.species)` returns true, so `Map[Symbol.species]` ends up not being polyfilled correctly, so `new Map` throws since it attempts to use `Map[Symbol.species]`.

[2015-05-04 01:21] Jamtis commented on #339
Wouldn't it be better anyway to use an actual value comparison instead of an `in`-check?

[2015-05-04 01:57] ljharb commented on #339
I don't think so - if someone has assigned `undefined` to a property, that's an explicit choice we don't want to violate. We could certainly do a value comparison here to hack around it, but I'd prefer not to.

[2015-05-04 02:13] Jamtis commented on #339
I share your opinion.
I like the `in` syntax.
But it somehow disturbs me that `es6-shim` doesn't need Symbols to shim Maps but fails then they are broken.
I think it's the propose of a shim library to provide the features as complete as possible.

[2015-05-04 02:20] ljharb commented on #339
That's correct - but a shim should either provide a 100% reliant shim, or none at all. The existence of the well-known symbol properties on `Object.prototype` means the symbol shim is not a shim at all, it's what's been termed a "sham". `es6-shim` will work in any existing engine, or any shimmed-and-spec-compliant environment - but it's not designed or intended to work in a broken one. `es6-symbol

[2015-05-04 02:28] Jamtis commented on #339
Alright I agree with your argument.
I guess we can close this issue with a #wontfix.

[2015-05-04 02:59] ljharb commented on #339
Agreed.

fwiw, changing `name in object` to `name in object && typeof object[name] !== 'undefined'` does seem to allow all tests to pass, and also prevents the issue with your scenario.

You may want to look into https://github.com/WebReflection/get-own-property-symbols which seems to be a much more reliable (ie, much closer to 100%) `Symbol` shim, that should work with `es6-shim`.

[2015-05-04 02:59] #339 closed

[2015-05-04 07:48] Jamtis commented on #339
Btw thanks for the competent support.

[2015-05-07 16:59] zloirock opened #340 "Wrapper for RegExp constructor broken"
[code]
Step 4 by spec.

[2015-05-07 17:29] ljharb commented on #340
Thanks! Good catch.

[2015-05-07 17:44] #340 closed

[2015-05-09 11:21] zloirock opened #341 "Wrappers for methods of Array.prototype broken"
See https://github.com/kangax/compat-table/issues/531#issuecomment-100466634
[code]
it can be simple fixed, but not so simple
[code]

[2015-05-09 17:47] ljharb commented on #341
Repeating my [comment](https://github.com/kangax/compat-table/issues/531#issuecomment-100522701) here:

For the first one, there's simply no solution for array-like objects with getters to avoid calling it twice besides, as you said, redefining the entire method. I suspect that's not worth it for the obscure tiny edge case of an array-like object with a getter for the length.

For the second one,

[2015-05-09 17:48] ljharb commented on #341
If we can shim the ES5 array methods in the `es6-shim` without taking a performance hit, that's not a bad option, but that also means we'll be repeating `es5-shim` code here. If we ever move to a build model where all the shims are `npm`-installed, then the `es5-shim`'s methods could be pulled in with virtually no impact, but until then, it'd be a lot of extra weight.

[2015-05-09 19:36] zloirock commented on #341
About second - nope, by spec there is should not be `toUint32` conversion, only `toLength` - it's array-like object, not array.

[2015-05-09 20:09] ljharb commented on #341
Ah, good call. The second one is definitely something I can fix, thanks.

[2015-05-09 22:16] #341 closed

[2015-05-09 22:19] ljharb opened #342 "ES5 Array method wrappers need full implementations"
Originally part of #341.
[code]

To fix both of these, instead of calling the native methods (in the scenario where the native methods behave incorrectly for negative and over-32-bit-length array-like objects), we need to reimplement all of them in their entirety. The ideal way to do this is to `require` in the implementations from the `es5-shim`, rather than duplicating all of the tests and code.

[2015-05-11 08:18] lewisje opened #343 "String#trim consistency with es5-shim"
I noticed that this shim uses a single regex, while es5-shim uses two, and although I know the es5-shim project didn't want to get into "[performance golfing](https://github.com/es-shims/es5-shim/issues/126)" toward further optimizing its trim shim, it does turn out to be reliably faster to use two regexes than one: https://jsperf.com/mega-trim-test/47

(Comparing character codes against numbers i

[2015-05-11 08:27] ljharb commented on #343
At the time the `es6-shim` implementation was written, the `es5-shim` implementation also used 1 regex. When that was updated for performance to 2 regexes, this one wasn't.

A PR that updates this one to not use capturing groups, and/or to use 2 instead of 1 regex, would be great.

[2015-05-11 13:41] niemyjski commented on #333
@ljharb did you ever hear back from the IE team?

[2015-05-13 06:24] ljharb commented on #333
I'm afraid nothing just yet. I'll ping again.

[2015-05-27 18:16] knownasilya commented on #333
Any progress on this?

[2015-05-28 00:10] ljharb commented on #333
It's not looking like it'll be fixed in anything but the latest IE, if that.

I'm likely to remove this from the shim if I can't come up with a way to fix it.

[2015-05-28 00:47] seeden commented on #333
+1 for fix or remove in short run

[2015-05-28 02:31] jacobq commented on #333
+1 for remove (or disable for IE11)

[2015-05-28 04:37] ljharb commented on #333
I definitely won't conditionally disable it for IE. I think I can probably fix it, but I'll need time to figure that out.

[2015-05-28 13:47] jacobq commented on #333
@ljharb fix is even better -- I was just in panic mode last night because I got a "sev 1" bug report due to updating ES6-shim from v0.20.4 to v0.31.2 in a QA environment without testing in IE (shame on me), which resulted in a large number of pages blowing up. I downgraded to v0.24.0 to resolve for now. It just seemed to me that it'd be better not to have a feature than to break things :)

BTW, th

[2015-06-01 08:34] #333 closed

[2015-06-02 17:13] niemyjski commented on #333
@ljharb Do you know when this fix will be released?

[2015-06-02 17:46] ljharb commented on #333
I should have it out today or tomorrow.

[2015-06-02 20:06] cscott opened #344 "Update behavior of `Promise.resolve`."
TC39 agreed to get rid of the hidden [[PromiseConstructor]] property from the spec and simplify Promise.resolve. The adopted proposal also makes `Promise.resolve` ignore "species":

https://esdiscuss.org/topic/fixing-promise-resolve

Opening an issue to track es6-shim adopting the new semantics.

[2015-06-02 20:19] ljharb commented on #344
It'd be ideal to also check on #239 as part of this work.

[2015-06-02 21:44] ljharb commented on #333
Released as [v0.31.3](https://github.com/paulmillr/es6-shim/releases/tag/0.31.3)

[2015-06-02 21:45] niemyjski commented on #333
Thank you!

On 6/2/15, Jordan Harband <notifications@github.com> wrote:

--
Thanks
-Blake Niemyjski

[2015-06-03 18:09] cscott commented on #344
Working on it right now (both this and #239, plus some incidental fixes to iterators).

[2015-06-04 00:25] ljharb commented on #344
@cscott there's another issue - see the tests in https://github.com/ljharb/es6-shim/commit/95f21e23872cee0d359d55159c6cc53166acc105 . It looks like our implementation (along with v8 and JSC, whereas Firefox and Bluebird pass) all fail these tests which are part of the spec. Mind taking a look at these too? :-)

[2015-06-04 01:18] cscott commented on #344
Those tests don't look right to me at all.  Can you point me at the
upstream source for them?

[2015-06-04 01:41] cscott commented on #344
In particular, the Promise Resolve function should execute the `then` in a
PromiseResolveThenableJob, which means it should *not* be synchronous.  Am
I misreading the spec?

[2015-06-04 01:45] ljharb commented on #344
You're correct - my initial commit was wrong, if you look at the latest one (comment has been updated) it tests that ".then" is called only once, as well as that the ".then" property is retrieved synchronously (es6-shim currently retrieves it asynchronously).

[2015-06-04 13:32] Yaffle opened #346 "performance of `Math.hypot`"
http://jsperf.com/math-hypot/8

[2015-06-04 15:32] ljharb commented on #346
Thanks for the jsperf. The browserscope results seem to be erroring out for me - do you have a screenshot of them?

[2015-06-04 15:52] Yaffle commented on #346
for me too

[2015-06-04 15:53] ljharb commented on #346
Either way, our implementation is super slow, and `Math.hypotX` seems to be the fastest, it passes all tests, and it's not as unreadable as some of the others - I'll update to use it, thanks.

[2015-06-04 15:55] Yaffle commented on #346
fine

[2015-06-04 15:57] #346 closed

[2015-06-04 16:16] ljharb commented on #344
Fixed with 9542dda06c1812cefd14b5c6101a9f35ec1f2eda / #345

[2015-06-04 16:16] #344 closed

[2015-06-04 16:16] ljharb commented on #239
Fixed with 9542dda06c1812cefd14b5c6101a9f35ec1f2eda / #345

[2015-06-04 16:16] #239 closed

[2015-06-12 08:35] TheSavior opened #347 "Expected int32 as second argument in Firefox with Array.prototype.map"
When I'm running my test suite in Firefox, I get this error. I haven't been able to successfully track down where my code is calling map such that this would fail which has been quite frustrating. Have you guys seen this before or know what it might be? This error does not occur on Chrome or Safari.

[code]

If I remove the part of the shim for Array.prototype.map by commenting out:
[code]

then m

[2015-06-12 16:04] ljharb commented on #347
I have v38.0.1 on my Mac and I don't get this error. Which version of the es6-shim are you using?

Also, presumably this isn't happening when the shim is loaded, but when your code runs later - how are you calling `.map` in your own code?

[2015-06-12 16:06] ljharb commented on #347
Note that this error is actually what happens in an unshimmed firefox if you do `Array.prototype.map.call({ 0: 1, length: -1}, function () {})` since it's improperly handling negative lengths.

Are you using `Array.prototype.map` with a non-array anywhere?

[2015-06-17 15:28] rwaldron opened #348 "Object.assign erroneous TypeError"
This was exposed by @yanlxu's tests here: https://github.com/tc39/test262/pull/293/files

Ref: https://github.com/paulmillr/es6-shim/blob/cba1442ccf1f11e4cf23b65ef21d29a46e85baa4/es6-shim.js#L1128

Object.assign must:

- Coerce the target to an object, per [ToObject](https://people.mozilla.org/~jorendorff/es6-draft.html#sec-toobject)
- Throw a TypeError exception for cases that cannot be coerced,

[2015-06-17 15:52] zloirock opened #349 "String#includes should throw error on regexp"
[code]
[21.1.3.7](http://www.ecma-international.org/ecma-262/6.0/#sec-string.prototype.includes), step 6

[2015-06-17 15:57] zloirock opened #350 "RegExp constructor w/o arguments broken"
[code]
[21.2.3.2.2](http://www.ecma-international.org/ecma-262/6.0/#sec-regexpinitialize), step 1

### Critical, breaks some libraries

For example,
[code]

[2015-06-17 17:17] ljharb commented on #350
Wow, thanks, great catch. Fix incoming.

[2015-06-17 17:49] #348 closed

[2015-06-17 17:49] #349 closed

[2015-06-17 17:49] #350 closed

[2015-06-17 17:53] zloirock commented on #350
It does not cover
[code]

[2015-06-17 17:57] ljharb commented on #350
Thanks, will fix that now.

[2015-06-17 18:48] TheSavior commented on #347
Hmm, I'll look closer at our codebase. I'm unsure why the shim itself is causing this problem. When I remove that section from the shim, our tests all pass in Firefox. That seems like it would imply it being an issue in the shim, right?

[2015-06-17 18:52] ljharb commented on #347
It definitely means it's something in the shim conflicting with something in your codebase. However, you could probably remove the other conflict and fix it too :-)

Are you using anything that might override `Array.prototype.map`? Are you using the `es5-shim`, but loading it *after* `es6-shim`?

[2015-06-20 22:51] ljharb opened #353 "`RegExp.input` test fails on Opera 12.15"
It seems like Opera 12.15 has `RegExp.input`, but it's always `undefined`, so the test for it is failing.

To fix this issue, either a) we need to discover how to fix the behavior, b) figure out how to feature-detect when the test isn't applicable, c) figure out if it's acceptable to detect this at runtime and not copy over the "input" property when it doesn't work.

[2015-06-22 03:23] Yaffle commented on #353
both `RegExp.input` and `RegExp.$_` have value `undefined`

[2015-06-22 04:17] ljharb commented on #353
In that particular browser, yes. However, not in most browsers, where it is equal to the last string that was used to exec against a regex.

[2015-06-22 06:17] Yaffle commented on #353
[code]

[2015-06-22 06:21] Yaffle commented on #353
RegExp.xxx is not standart and should not be used anyway, you can use "input" property of an object  returned by "exec" instead

[2015-06-22 06:33] ljharb commented on #353
The spec allows for nonstandard extensions, and by wrapping `RegExp`, I don't want to break a browsers's builtin extensions.

The difficulty here is that `input`/`$_` in Opera is the only one of these properties that actually exists but doesn't function.

If in fact I can detect this at runtime by running a regex exec, then I can simply skip the test.

[2015-07-01 09:51] Yaffle commented on #311
@ljharb  I cannot understand this issue, but
[code]
this causes a error message in the log in Chrome. And if replace `setTimeout` with `Promise.resolve(undefined)` - nothing will be printed to the log.
So to simulate same behavior you could use `setTimeout`, right?

[2015-07-01 18:20] cscott commented on #311
@Yaffle yes, many utility libraries for Promises (such as http://github.com/cscott/prfun) add a `Promise.prototype.done` method which uses `setTimeout` in exactly this way.

There's also a web spec in-process for triggering the "uncaught promise exception" handler in the same way that there is an "uncaught exception" handler in the web stack for synchronous code.  I don't know if Chrome has expose

[2015-07-03 22:02] stewart commented on #301
I think I've got a possible fix here - https://gist.github.com/stewart/321560330b152dfde649.

Didn't cause any issues in the environments I tested in, but maybe I'm missing something?

[2015-07-03 23:09] ljharb commented on #301
@stewart What did you test it on? It would need to work back to IE 6, in node 0.6 and later, all io.js versions, node-webkit/nw.js, web workers, the node `vm` module's sandbox, and probably in all of a CJS, AMD, and no-module environment for each.

[2015-07-03 23:34] stewart commented on #301
The one major drawback to my approach that the CSP-violating version doesn't have is that if `es6-shim` gets wrapped up in an IIFE w/ strict mode enabled (say by a minifier or project bundler), it'll stop working.

On the other hand, a situation like that is easier to work around for developers than a CSP-violating dependency, and relatively easy for the library to detect (check if `globals === un

[2015-07-04 00:07] ljharb commented on #301
I'm less concerned about browsers and node (where `window` and `global` are reliable enough), than I am about web workers and node-webkit, both of which we can't currently test on travis, nor do I have any way to test locally.

[2015-07-04 00:09] stewart commented on #301
I don't have test harnesses available for either at present, but I'll see about getting something worked together over the weekend, unless someone else beats me to it.

[2015-07-04 00:14] ljharb commented on #301
Thanks!

[2015-07-13 19:47] TheSavior commented on #347
I'm still trying to track this down.

I changed the map part of the shim to:

[code]
as that should give us the information we need about what might be failing.

Here is a snippit from my output:

[code]

And here is a larger snippit with more examples (not just coming from d3). http://pastebin.com/PnK5xbev

Any thoughts? The inputs look reasonable relative to other calls that don't fail. I haven'

[2015-07-19 00:54] ljharb commented on #347
In your `console.error` path, can you include the `arguments` also?

[2015-07-30 23:53] ljharb commented on #301
I've worked on this with @rwaldron and @jugglinmike in person, and we've found a non-eval approach that *seems* to work in browsers, workers, node-webkit, and node.

In order to unblock Chrome apps from having CSP issues, I'm going to go ahead with this change. Please let me know if this change has broken anything.

[2015-07-30 23:57] #301 closed

[2015-07-31 03:09] Yaffle commented on #301
@ljharb  this throws an error when running using WSH.
Altough, es6-shim does not work in WSH anyway...

[2015-07-31 04:35] ljharb commented on #301
Thanks, that's good to know - what is the thrown error?

If you can provide me with various exceptions that it throws (as separate issues, please) I'll do my best to fix them!

[2015-07-31 04:40] Yaffle commented on #301
`throw new Error('unable to locate global object');`

[2015-07-31 04:44] ljharb commented on #301
Perfect, that's exactly what it's supposed to do :-) It appears that in WSH, the only option is to get `this` in the global context. http://stackoverflow.com/questions/14450424/equivalent-to-window-in-jscript-runtime

I'd suggest then that in wsh, users need to do something like `var global = this;` in the global context prior to including the `es6-shim`.

[2015-07-31 04:52] Yaffle commented on #301
@ljharb , `setTimeout` is not supported, so
[code]
`promiseSupportsSubclassing` test throws an error...

[2015-07-31 17:44] clcrutch opened #356 "window.Symbol is undefined in IE 11"
AngularJS2 attempts to call window.Symbol and fails.

I was able to correct the issue with this:

    if (typeof(globals.Symbol) === 'undefined') {
        globals.Symbol = Symbol;
    }

![image](https://cloud.githubusercontent.com/assets/2128090/9013422/ad54964c-3770-11e5-95b7-ff4a9adc67f5.png)

[2015-08-01 02:08] ljharb commented on #356
If Angular 2 depends on Symbols - which are *not* fully shimmable in any browser that doesn't ship with them - then it simply won't work in a browser that doesn't (like IE 11, and many other versions of browsers).

In no way would it be acceptable for `es6-shim` to assign an empty object to the global `Symbol` property just to fix an incompatibility in a random library.

[2015-08-01 02:08] #356 closed

[2015-08-03 20:27] classiemilio commented on #347
I was able to narrow it down further. All my tests pass when I don't call `toLengthsCorrectly(Array.prototype.map)`.

[code]
That looks in line with what you're saying about an object having a length of -1.

[2015-08-11 15:01] cristian-smocot opened #357 "Object.keys() fails in Node.js v0.12.7"
`Object.keys()` spits: `TypeError: undefined is not a function`
Version: __0.33.0__
Sample test code:
[code]

[2015-08-11 15:03] mathiasbynens commented on #357
This report is invalid.

It’s `Object.keys`, not `Object.prototype.keys`.

[2015-08-11 15:07] cristian-smocot commented on #357
Sorry!
My mistake. I realize now I read the documentation badly,

[2015-08-11 15:07] #357 closed

[2015-08-12 18:01] ljharb opened #358 "Investigating shimming `Number` constructor for new numeric literals in strings"
@zloirock pointed out that while `0b1` isn't polyfillable, `Number('0b1')` certainly is ([spec](http://www.ecma-international.org/ecma-262/6.0/#sec-tonumber-applied-to-the-string-type))

I'm not confident that it's acceptable to have the `Number` constructor not be in lockstep with numeric literal syntax, but if it is, then we should definitely implement this.

I've asked @bterlson and @allenwb fo

[2015-08-12 18:11] ljharb commented on #358
Based on https://twitter.com/bterlson/status/631527587047604224 contrasted with https://twitter.com/bterlson/status/631528295910215680, I think this is sensible to implement.

I'll give it a day or two in case anyone has a differing opinion, and then I'll push it up.

[2015-08-15 22:01] #358 closed

[2015-08-22 14:56] AlastairTaft commented on #311
The try catch around line 1867 is currently eating all my Promise errors (in the `promiseReactionJob` method). All my promise errors are caught and not thrown so it fails silently. I'm going to have to run with a flag to not include the es6-shim when developing in chrome. That also makes me wonder that the shim shouldn't be overriding native chrome promise support.

[2015-08-22 16:15] ljharb commented on #311
@AlastairTaft I'm not sure what you mean - that's what native Promises do by spec. All Promises swallow all errors, and the only way to catch them is with a `.catch`.

The additional browser behavior of notifying the console when you have an unhandled rejection is not part of the spec, it's bonus behavior some promises provide.

[2015-08-22 16:54] AlastairTaft commented on #311
@ljharb If it's by design then no worries. I'll provide some code though to explain my point a bit better just encase it is a problem.

So I'm doing something like this in my code

    var self = this
    // Get the content
    Promise.all([
      api.client.getProfileP(),
      api.client.getInfoSummariesP()
    ])
    .then(function(args){
      var profile = args[0]
        , infoSummaries = ar

[2015-08-22 16:55] ljharb commented on #311
Correct. You can never throw an error outside of a Promise - that's how they work everywhere. You can do `setTimeout(function () { throw err; }, 0)` but that's basically your only option.

Handle the error in the right place: inside the promise :-)

[2015-08-22 16:57] AlastairTaft commented on #311
Fair enough :)

[2015-08-22 20:12] cscott commented on #311
The `prfun` library (and others) have a `Promise #done` method that can
also be helpful in making your thrown errors visible.
On Aug 22, 2015 12:58 PM, "Alastair Taft" <notifications@github.com> wrote:

[2015-08-23 05:29] ljharb commented on #301
@Yaffle Try the latest commit in WSH - please file a new issue for me if there's any further issues.

[2015-08-23 06:22] Yaffle commented on #301
@ljharb , well... it works with `var global = this;` and es5-shim, but throws some errors:
1) https://github.com/paulmillr/es6-shim/blob/master/es6-shim.js#L1155
"Number" is a bad name for IE8 (probablye because of http://kiro.me/blog/nfe_dilemma.html), so before this line is reached, `Number` is called and throws the error, because `isBinary` is not defined yet.
2) `wrapConstructor` uses `Object.

[2015-08-23 06:51] ljharb commented on #301
@Yaffle Can you please file an issue for 1 and 2? 3 is expected and desired.

[2015-09-02 13:20] ljharb commented on #347
fwiw, the latest Firefox Nightly made a change to `Array#map` that actually avoids this error from being thrown - so I suspect that once that lands in stable, this problem may go away. I've still been able to reproduce it, and from our offline discussion it seems only reproducible with karma + firefox :-/

[2015-09-02 15:50] TheSavior commented on #347
I look forward to not needing our hack in front of the polyfill. :)

[2015-09-16 21:32] mlaval opened #360 "Expose Symbol.iterator"
Hello,

it can be very nice to use `Symbol.iterator`. For example:
https://github.com/angular/angular/blob/master/modules/angular2/src/core/compiler/query_list.ts#L104
But the shim doesn't expose `'_es6-shim iterator_'` as `Symbol.iterator`.

Cheers

[2015-09-16 21:56] cscott commented on #360
The shim doesn't expose features which can't be 100% implemented in es5 browsers, thus it doesn't define `Symbol` at all.  It might be a reasonable feature to add to `es6-sham`, though.

[2015-09-17 01:10] ljharb commented on #360
Under no circumstances will `es6-shim` expose `Symbol` or anything underneath it, since Symbols are simply impossible to faithfully shim.

You can derive `es6-shim`'s internal `Symbol.iterator` value by looking in `Object.getOwnPropertyNames(Map.prototype)`, and finding the key (besides "entries" itself, and "size" which throws on access) whose value is `=== Map.prototype.entries`. Namely, `Object

[2015-09-17 01:10] #360 closed

[2015-09-17 13:07] mlaval commented on #360
@ljharb fair enough. Thanks for the tip to retrieve the internal value.

[2015-09-24 12:05] chatbox-inc-hoge opened #361 "Cannot convert a Symbol value to a string"
es6-loader 経由でwebpackを実行すると、下記エラーが起きます。

[code]

このエラーは

https://github.com/paulmillr/es6-shim/blob/master/es6-shim.js#L278

を

[code]

とすると治ったのですが、これってマージされますか？

 node v0.12.7
es6-shim version:  "0.33.3",

[2015-09-24 12:09] martinheidegger commented on #361
I was asked to translate this to english:

When using `es6-loader` with webpack the following error occurred:

[code]

This error would be fixed by changing the following line:

https://github.com/paulmillr/es6-shim/blob/master/es6-shim.js#L278

to

[code]

Would that be a problem to merge?

[2015-09-24 13:29] ljharb commented on #361
No, that will not fix it. By the spec, `Symbol().toString()` throws. The *only* way to stringify a symbol safely is `String(Symbol())`. This is a node 0.12 bug specifically, where `String(x)` throws, but `Symbol.prototype.toString.call(x)` doesn't.

The entire purpose of symbols is to be used as non-string object keys - so why would we want to stringify it?

This node 0.12 v8 bug is impossible to

[2015-09-24 13:29] #361 closed

[2015-09-28 16:58] mikemaccana opened #362 "Silence Chrome webkitIndexedDB warning when es6-shim loads?"
Throws up this warning when looking for webkitIndexedDB.

It's obviously not a real error, and there's nothing wrong with es6-shim, because it's checking for blacklistedKeys. But Is there any way we can silence it?

[2015-09-28 17:02] mikemaccana commented on #362
This also applies to:

[2015-09-28 17:25] ljharb commented on #362
Thanks for the report! This is actually an https://github.com/es-shims/es5-shim issue, can you file it there?

[2015-09-28 17:25] #362 closed

[2015-09-28 17:32] ljharb commented on #362
(also, in the latest `es5-shim`, this may have been resolved already - it's not doing an `indexOf` anymore, it's doing an object lookup to a local cache)

[2015-09-28 20:09] mikemaccana commented on #362
Thanks for the quick reply @ljharb! Since it's fixed in es5-shim, maybe it's worth bumping the version of es5-shim that es6-shim requires?

[2015-10-01 20:37] mikeazo commented on #347
@ljharb Do you have a link to the Firefox changes? I'd like to track to see when it makes it into stable.

[2015-10-01 23:16] ljharb commented on #347
https://bugzilla.mozilla.org/show_bug.cgi?id=924058 is the overall ToLength bug, but https://bugzilla.mozilla.org/show_bug.cgi?id=1200108 is specific to "map"

[2015-10-18 15:43] Yaffle opened #363 ""*".link("&quot;")"

[2015-10-18 19:13] #363 closed

[2015-10-18 20:08] ljharb commented on #363
Please provide a description if there's a browser the es6-shim doesn't cover this case in.

[2015-10-20 18:49] DeanB2015 opened #364 "Unhandled exception at line 221"
I have a test project using es6-shim (v0.33.6), Cordova 5.3.3 and Windows Phone (Universal).

I get the following error when I test on Windows Phone:

    SCRIPT5007: Unhandled exception at line 221, column 7 in ms-appx-web://test/www/scripts/lib/es6-shim/es6-shim.js
    0x800a138f - JavaScript runtime error: Unable to get property 'toString' of undefined or null reference
    es6-shim.js (221,7)

[2015-10-20 23:12] ljharb commented on #364
@DeanB2015 Thanks for the report! it would help if you could provide a bit more of the stack trace - specifically, where `preserveToString` is being called inside `es6-shim`

[2015-10-20 23:41] DeanB2015 commented on #364
@ljharb

Call Stack

    Value.preserveToString [es6-shim.js] Line 221	Script
     	overrideNative [es6-shim.js] Line 270	Script
     	Anonymous function [es6-shim.js] Line 3251	Script
     	Anonymous function [es6-shim.js] Line 3240	Script
     	Anonymous function [es6-shim.js] Line 25	Script
     	Global code [es6-shim.js] Line 13	Script

Here's a screen shot from VS2015 Community
![vs_es6-shim]

[2015-10-21 00:29] DeanB2015 commented on #364
@ljharb  Here's the Output > Debug:

    'WWAHost.exe' (Script): Loaded 'Script Code (MSAppHost/3.0)'.
    Exception was thrown at line 140, column 7 in ms-appx-web://testing/www/scripts/es6-shim/es6-shim.js
    0x800a138d - JavaScript runtime error: String.prototype.startsWith: 'this' is not a String object
    Exception was thrown at line 1088, column 9 in ms-appx-web://testing/www/scripts/es6-s

[2015-10-21 08:05] ljharb commented on #364
wow - ok so all of the "exception thrown and not caught" errors actually happen inside a try/catch, so I'm not sure what's happening there. It's almost like all of those errors (except the first one) shouldn't be there, because a `catch` block should silence all of them.

Which version of `es6-shim` are you using?  The line numbers don't match up to the latest version.

[2015-10-21 08:29] DeanB2015 commented on #364
Just confirmed es6-shim: v0.33.6

[2015-10-21 08:39] ljharb commented on #364
ok so this must be something about cordova. it's like every `try/catch` is being ignored.

I don't know how to possibly fix or debug this :-/

[2015-10-21 09:37] DeanB2015 commented on #364
@ljharb Thanks again for the help. This helps me focus on where the problem could be located.  I'll contact the Cordova team.

Windows Phone Universal appears to support es6. I think the solution to avoid errors is to not use es6 shims in Windows Phone Universal + Cordova.

Note: I just tried core-js shims and I'm getting similar `JavaScript runtime errors`

[2015-10-21 16:04] ljharb commented on #364
There doesn't exist an engine that even the `es5-shim` isn't needed on - so you should be free to use shims if you want a reliable environment. Please do report back - I'd love to make sure the `es6-shim` can work for you.

[2015-10-21 18:22] DeanB2015 commented on #364
@ljharb I created an issue on Apache Cordova's Issue tracking system.
https://issues.apache.org/jira/browse/CB-9838

I also added a stackoverflow question
http://stackoverflow.com/questions/33256378/javascript-error-cordova-windows-phone-universal-es2015-shims

[2015-10-21 21:22] zloirock opened #365 "Number constructor issues"
1. **[critical]** IIRC it was already mentioned. Redefinition `Number` constructor uses `Object.getOwnPropertyNames`. It can't be completely polyfilled. Missed fallback for ES3 environment. What does it mean? All ES5- constructor properties lost in IE8-. `Number.NaN`, `Number.MAX_VALUE`, `Number.NEGATIVE_INFINITY`, etc...
2. `this instanceof Number` in constructor not enough for `new` detection. F

[2015-10-21 22:20] ljharb commented on #365
`_.isNative` is a hack, so I'm not interested in nor concerned with supporting it.

1) Good call! This indeed is using a non-shimmable method. I'll fix this ASAP.

2) Thanks for the detailed examples - I'll add a bunch of test cases for that, as well as testing in IE 9.

3) I [commented](https://github.com/grigio/meteor-babel/issues/5#issuecomment-150040924) why the Meteor issue is invalid - check

[2015-10-22 23:48] ljharb commented on #365
Turns out the "wrap constructor" l implemented doesn't work in ES3 - I just forgot to check for true ES5 support before adding that particular shim. I'll add the guard, and update the docs.

`+new Number(1)` isn't throwing an error for me in IE 9 - can you test with the latest version of `es6-shim` and confirm? a jsfiddle that repros it would be ideal.

`typeof Object(1).constructor(2)` indeed sho

[2015-10-23 00:22] zloirock commented on #365
Oops, IE9 was in quirks mode, it's IE8- NFE bug.
![default](https://cloud.githubusercontent.com/assets/2213682/10681629/21c264fa-794d-11e5-9fda-d320093b9c35.png)

Strange requirement - all properties not accessors.

Possible and without any serious problems :)

[2015-10-23 05:03] ljharb commented on #365
@zloirock how can you detect "new" between `Foo.call(Foo)` and `new Foo()` without `new.target`?

[2015-10-23 05:21] zloirock commented on #365
@ljharb abstract `Foo`? `.bind`-based way. But here `Foo`  is `Number`. How you can detect is `this` number object or `Object.create(Number.prototype)`? :) You can just see `core-js` implementation instead of those questions.

[2015-10-23 05:32] ljharb commented on #365
I'm afraid I can't really make any sense of your code, so I can't just "see" it. If you're unwilling to share it here in a specific manner, then that's fine. While I see that you're testing that `Number#valueOf` fails, how would you guarantee that `Number.call(Object(2), 2)` should return a primitive rather than an object?

[2015-10-23 05:41] zloirock commented on #365
Kill me please... Instead of `new` on the wrapper, in this case, `Number#valueOf` **not** fails.

[2015-10-23 05:46] ljharb commented on #365
Please be respectful, there's no need to be rude. Obviously `Number#valueOf` would not fail on a true number object. But, how would you know if you can return a primitive or an object, in sloppy mode? `Number.call(Object(2), 2) === 2 && Number.call(Object(3), 2) === 2` must both pass. Both receivers will be valid number objects that `valueOf` works on and are `instanceof Number`.

[2015-10-23 05:56] zloirock commented on #365
Sorry if offended, I'm just tired. Sloppe mode does not changed here anything.

[2015-10-23 06:02] ljharb commented on #365
It changes whether `this` can be a primitive value. In sloppy mode, all "this" values are passed through `ToObject`.

[2015-10-23 06:02] zloirock commented on #365
But `this` will not be `Number` instance.

[2015-10-23 06:04] ljharb commented on #365
In sloppy mode, `(function () { return typeof this; }(3))` will be "object" - it definitely will be a `Number` instance. And, in both strict and sloppy mode, passing `Object(3)` in as "this" will be a `Number` instance.

[2015-10-23 06:07] zloirock commented on #365
`Number.call(Object(3), 2)` returns primitive. `Number.call(3, 2)` too. `Number.call(Object.create(Number.prototype), 2)` - like wrapper case - not. Thats all.

[2015-10-23 06:09] ljharb commented on #365
I guess I just don't understand how `Number.call(Object(2), 2)` can know to return a primitive and `new Number(2)` to return an object. I'll keep playing with it and see what I can figure out.

[2015-10-23 06:31] ljharb commented on #365
I've gotten all tests to pass except when a Number object is passed as the receiver that has the same primitive value as the first argument to the constructor. I can't conceive of any way without `new.target` to cover this case.

[2015-10-23 06:47] ljharb commented on #365
I also fixed my `wrapConstructor` implementation per your suggestion; so binary and octal number strings will now work in ES3.

[2015-10-23 06:59] ljharb commented on #365
I believe the only remaining issue now from your original post is `typeof Number.call(Object(3), 3) === 'number'` failing - but I suspect this will fail with `core-js` as well. The skipped test is [here](https://github.com/paulmillr/es6-shim/commit/d29ccaad0917d62ed0077eebe4cdb7ee2f05ad22#diff-cc37320af8aeb8b7582dad90cc114e55R355).

I'll reopen this issue if `core-js` has a way to pass this test -

[2015-10-23 07:09] zloirock commented on #365
![default](https://cloud.githubusercontent.com/assets/2213682/10686580/48aef224-7987-11e5-8be2-74f837f6c604.png)

[2015-10-23 07:13] ljharb commented on #365
Thanks for confirming - I'll reopen.

I honestly have no idea how this works, but if it's possible without `new.target`, I need to handle it as well.

[2015-10-23 07:31] #365 closed

[2015-10-23 07:31] ljharb commented on #365
k, thanks - I figured it out.

Appreciate the reports and the followthrough!

[2015-10-23 11:10] zloirock commented on #365
BTW as I wrote above, `.bind`-based way implementation `[[Call]]` and `[[Construct]]` much more beauty and little more correct. Simple example:
[code]
But `core-js` can't use it in this case because of it should work in ES3 environment (looks like not  principal for you), `.name` and `.length` incorrect and in simple case it's slower.

[2015-10-23 16:00] ljharb commented on #365
Ideally the `es6-shim` works in an `es5-shim`ed ES3 environment. I can use `bind` since `es5-shim` can shim it.

Thanks for explaining the `bind` approach - that might be worth doing, since even though it's slower, constructing numbers from non-literals is very rare.

[2015-10-25 15:37] ertant commented on #311
At least for debug versions I have changed the rejectPromise (line 1913) function like below, otherwise finding an error almost impossible.

    var rejectPromise = function (promise, reason) {
    .....
    if(!reactions.length) {
      console.warn('Uncaught (in promise)', reason);
    }
          triggerPromiseReactions(reactions, reason);
    };

[2015-10-26 19:50] zloirock commented on #365
I thought you just disable ES3 support, but you enable it again. So all critical bugs still in IE8- - NFE and lost properties.

![default](https://cloud.githubusercontent.com/assets/2213682/10740545/09c77e6e-7c4d-11e5-8e19-c6b780ddb402.png)

[2015-10-29 09:00] ljharb commented on #365
Latest fix released in `v0.33.9`.

[2015-11-09 12:32] fizker opened #370 "RegExp.prototype.flags cannot be read in Chrome Canary"
One of the shims adds a getter for `RegExp.prototype.flags`, and guards against overriding the native by reading the current value.

But reading `RegExp.prototype.flags` throws an error in Chrome Canary (48.0.2559.0): `Uncaught TypeError: RegExp.prototype.global getter called on non-RegExp object`.

Note: Chrome Canary requires the `Experimental JavaScript` flag to be enabled before exposing `RegE

[2015-11-09 15:26] mathiasbynens commented on #370
That matches the spec.

[2015-11-09 15:27] fizker commented on #370
The problem is that our webapp breaks in es6-shim because it tries to test whether or not to shim the feature

[2015-11-09 20:00] ljharb commented on #370
@fizker this is indeed part of the spec - you'll need to use `typeof Object.getOwnPropertyDescriptor(RegExp.prototype, 'flags').get !== 'function'` to detect it.

[2015-11-09 20:05] fizker commented on #370
@ljharb No, technically _you_ need to use that :P. I have made a PR with it

[2015-11-09 20:33] ljharb commented on #370
ha, touché. i haven't yet updated things to pass in Chrome Canary. Thanks for the PR.

[2015-11-10 00:29] ljharb commented on #370
Fixed in c563abf238df6d08f293cb54903fd4df54d5a885

[2015-11-10 00:29] #370 closed

[2015-11-10 00:31] ljharb opened #372 "`Promise` is broken and not overridden in Chrome Canary"
There are currently 10 test failures: dealing with robustness against tampering, evil promises breaking invariants, incorrect subclassing, and calling thenables the right number of times and in the right tick.

These will only need to be detected and fixed if they make it to Chrome Stable, but it might be worth getting ahead of them and fixing them now.

Also see https://rawgit.com/paulmillr/es6-s

[2015-11-10 00:32] fizker commented on #370
Perfect :). Do you know when this will get released? I would prefer to get it into production as soon as possible, as the crash was rather nasty.

[2015-11-10 00:41] ljharb commented on #370
I will release it shortly, but it's Chrome Canary - nobody using a canary build should have any expectation of *any* site working. Chrome Stable won't release with it for many weeks.

[2015-11-10 00:46] fizker commented on #370
Still, I would prefer having more time for testing, as we are not on the newest es6-shim. If I am not mistaken, we are still on a version that uses `String#contains` rather than `String#includes`, so a lot of other things could also be breaking changes. Anyway, thanks for the quick turn-around on this issue :)

[2015-11-10 00:46] ljharb commented on #370
aha, that's a very very old version indeed - you will want to upgrade soon. I'll have v0.33.11 out today.

[2015-11-10 02:09] ljharb commented on #370
All set https://github.com/paulmillr/es6-shim/releases/tag/0.33.11

[2015-11-10 02:25] caitp commented on #372
I've got a CL with a fix for some of the listed failures, and it _may_ involve removing the non-standard APIs too, it depends if we can get away with that (eg, if it's used by Chrome extensions or node modules). On the other hand, it might hurt perf for the time being too.

Most of the `@@species` stuff is in @littledan's hands atm, which may be part of the "subclassing" bugs you're seeing

[2015-11-10 02:32] ljharb commented on #372
Awesome, thanks - my main concern is patching whatever makes it into stable. If it'll all be fixed by that time, then I don't have to patch Chrome forever, so I'm happy!

[2015-11-10 09:59] fizker commented on #370
Nice! Thanks :)

[2015-11-11 08:23] littledan commented on #372
You definitely shouldn't have to patch it forever, but we also definitely aren't spec-compliant at the moment. ```@@species``` is at the top of my todo list after landing my current patches out for review and preparing for the upcoming TC39 meeting.

[2015-11-11 08:52] ljharb commented on #372
@littledan Glad to hear it! If you could help by giving me some advance warning before any remaining violations are going to hit stable, then I'll wait til then to patch them.

[2015-11-11 08:57] zloirock commented on #372
@littledan V8 Promise implementation has [much more serious problems](https://code.google.com/p/v8/issues/detail?id=4162) than `@@species`.

[2015-11-11 13:31] caitp commented on #372
@zloirock see comment 1, these are getting fixed, although might be a while :l

[2015-11-11 15:59] littledan commented on #372
@ljharb I don't things are going to get any worse, only better. Have you been seeing them getting worse?

[2015-11-12 17:33] ljharb commented on #372
@littledan worse only in the sense that Chrome Canary has now fixed whichever Promise bug causes es6-shim to clobber it with its own implementation in Chrome stable, but not yet fixed other Promise bugs. Thus, I'd have to add further runtime detections to patch Canary's Promise.

[2015-11-12 17:34] caitp commented on #372
if we can get it passing test262 and promise/aplus tests, it should be alright, no?

[2015-11-12 19:30] littledan commented on #372
@ljharb Do you think this will break the web, if your users won't be able to update? We could instead roll that patch back and deliver all the Promise fixes as a package, if that's what's needed for web compatibility.

[2015-11-12 20:18] ljharb commented on #372
@caitp theroetically yes - although i'm quite confident test262 has gaps that es6-shim's tests cover :-) i can't run test262 in a browser yet, or else I'd PR in the differences.

@littledan I don't know if anybody's already relying on es6-shim's spec-compliant semantics, but I'd assume so. I don't actually want "all or nothing" fixes - I'm fine with iterative patches - I'd just like to write as fe

[2015-11-12 20:24] caitp commented on #372
ping @bterlson (and whoever else) about updating test262.ecmascript.org to include newer tests ;)

there is also https://github.com/bterlson/test262-harness with support for D8 and jsshell, although there may be bugs. Other test harnesses in v8 repo, and probably mozilla-central too.

[2015-11-12 21:16] bterlson commented on #372
test262-harness works great with d8 (I run this occasionally). Getting a d8 build is an exercise left to the reader though (unlike jsshell, there don't appear to be binaries available).

Yes, test262.ecmascript.org needs updated. Anyone have bandwidth? :)

[2015-11-15 00:08] #372 closed

[2015-11-18 20:07] timglaser commented on #347
Is anyone aware of an existing fork of es6-shim that is modified to not cause these errors in Firefox 42 and prior? Ideally it would be a fork that is to be kept up to date with the latest of es6-shim but with the Firefox fix in place until Firefox 45 is released for those that follow the convention of supporting the latest two versions of browsers. So far for my needs are met by commenting out th

[2015-11-18 20:29] ljharb commented on #347
@timglaser this specific error was only occurring with the combination of Karma and Firefox. Is it happening for you in FF 42 by itself? If so, I will *absolutely* fix it.

[2015-11-18 22:08] ljharb commented on #347
@timglaser on what OS? I can't reproduce it. Can you make a jsfiddle that repros it?

[2015-11-18 22:20] timglaser commented on #347
@ljharb This is happening on OS X and Windows versions of Firefox 42. I'll see if I can get a jsfiddle together. Not likely today. It could be that something in our package other than karma is interacting in a way that highlights this bug. Thanks for being responsive on this!

[2015-11-18 22:44] ljharb commented on #347
@timglaser Absolutely - I will happily fix anything I can reproduce. The remainder of this issue is because with karma, `try/catch` simply wasn't working - which creates a scenario that's unfixable. Hopefully your problem isn't equally unfixable :-)

[2015-11-18 22:57] ljharb opened #374 "Remove @@species from Promise.all/Promise.race"
Per https://github.com/tc39/ecma262/issues/151, `Promise.all` and `Promise.race` no longer respect `Symbol.species`.

[2015-11-18 22:58] ljharb commented on #374
Relates to #345 (I think)

[2015-11-18 23:11] cscott commented on #374
Hm, first I'm hearing of it.  I'm asking for clarification.

[2015-11-18 23:43] ljharb commented on #374
@cscott it was just decided 40 minutes ago. No need to ask, I'm in the room on the committee :-)

[2015-11-21 05:40] ljharb commented on #374
Removal from the spec is [here](https://github.com/tc39/ecma262/pull/211)

[2015-11-21 05:44] Yaffle opened #376 "sticky flag polyfill"
[code]

[2015-11-21 05:49] Yaffle commented on #376
This does not fix issues String#match, String#search, String#split, String#replace...
But 1) it should be strange to use those methods with sticky flags; 2) if you fix RegExp[@@match] and other methods to call `RegExp#exec` as per specification thouse methods will be fixed automatically...

[2015-11-21 06:03] Yaffle commented on #376
4) From my understanding of the specification both Firefox and Chrome works incorrectly for the next edge cases:

console.log(
 "_foo".match(function (e, i) { e.lastIndex = i; return e; }(/foo/y, 1)),
 "_foo".split(function (e, i) { e.lastIndex = i; return e; }(/foo/y, 1)),
 "_foo".split(function (e, i) { e.lastIndex = i; return e; }(/foo/gy, 1)),
 "_foo".replace(function (e, i) { e.lastIndex = i;

[2015-11-21 06:15] ljharb commented on #376
All of the Symbol methods do need to work with the sticky flags. I haven't finished implementing the full semantics of the symbol methods, as you point out - I will soon.

Polyfilling `sticky` by a `_sticky` method isn't something that I'd find acceptable. However, those last test cases - in an environment that natively supports the `y` flag - do seem legitimate. Can you file those as a separate i

[2015-11-21 06:29] Yaffle commented on #376
@ljharb , I am replacing the constructor with custom one, which adds "_sticky" property - a very bad code, but it is simple and you are doing it too already, am i right?
And I am replacing `RegExp#exec` ... which is not bad.

[2015-11-21 06:41] ljharb commented on #376
I'm not talking about wrapping the constructor or replacing the methods - I'm not OK with adding publicly visible properties if they can be avoided. Since the sticky flag can't be polyfilled in native syntax, I don't think it'd be worth it.

[2015-11-21 06:43] Yaffle commented on #376
@ljharb some compilers convert `/xxx/y` to `new RegExp("xxx", "y")` for those like you

[2015-11-22 18:01] Yaffle commented on #376
Edge 13:
[code]

[2015-11-22 18:01] #376 closed

[2015-11-29 19:20] ljharb commented on #364
Please reopen this if you hear back - I'm going to close for now.

[2015-11-29 19:20] #364 closed

[2015-11-29 19:50] #374 closed

[2015-12-03 17:06] cscott commented on #278
Any progress on this?  I found https://github.com/smikes/test262-mocha-adapter but @smikes work doesn't seem to be complete (and has no readme).  There's also https://github.com/smikes/test262-parser which looks useful (but isn't a full solution), and https://github.com/promises-es6/promises-es6 which is in mocha format but doesn't seem to be compatible with test262.

[2015-12-03 17:09] cscott commented on #278
https://github.com/bterlson/test262-harness seems like it's the most mature of the options, but it's not mocha compatible.

[2015-12-03 18:42] ljharb commented on #278
I can definitely set up test262harness for the node tests. However, there's no easy way to run them in browsers yet - ie, no HTML file i can set up that can just be served. That's a blocker.

[2015-12-03 21:34] cscott commented on #278
https://github.com/cscott/babybird/commit/27ca224c862bdc27ad6f94542db63fba7185485e is a stab at integrating test262 with mocha for the Promise-related tests.  I only found two minor issues (#379) so far.

[2015-12-04 07:31] smikes commented on #278
Thanks- I'm on vacation until dec 8th, will take a look at this when I get back.

The test262-mocha-adapter is at a WIP stage and hadn't been touched for a while, probably not useful.

Test262-harness depends on test262-parser

The "old" Python based tool chain for building the test262 browser tests still exists but it should not be carried forward; it was last used to do the ES5 tests a few years

[2015-12-12 20:56] Xotic750 opened #382 "Question: When is Set/Map not?"
I am writing some type checking routines `isSet` and `isMap` among others. I have them using `Object#toString` when `toStringTag` is not available, .and when it is available then I'm using the `size` getter to perform a check. This is working nicely across realm and on all environments that I have tested on. I then threw `es6-shim` into the mix, which has now caused me some dilemma. On ES5 environ

[2015-12-12 21:07] ljharb commented on #382
You can go one of two ways - either `isSet` only returns true for a set that has native behavior (which is impractical to determine in JS), or, assume that if `Set` exists, cache the `Set.prototype.size` getter and use that (an old Firefox Set is not actually a Set if "size" is a non-getter).

[2015-12-12 21:57] Xotic750 commented on #382
Thanks for that perspective, my head is still in dilemma about what to do about it, how much to check (is a buggy `Set` not a `Set`?). Seems likely that there is a need to drop `Object#toString` checking for `Map` and `Set` and be more duck-typed. Maybe sleeping on it will clear my view.

[2015-12-12 22:09] ljharb commented on #382
Yes, `Object#toString` is not reliable whatsoever in an environment with `Symbol.toStringTag`, so it's best to avoid it except as an optimization in older engines.

[2015-12-12 22:31] Xotic750 commented on #382
Yeah, I was only using it where `toStringTag` didn't exist, but it didn't exist in the buggy Firefox. So this begs the question of how much of an implementation to test before you say "this is a Set/Map", sure I could require that `es6-shim` is loaded, but unlike `es5-shim` (which I fully recommend/require) these shims still feel like they are in their infancy, and some even require true ES5 envir

[2015-12-12 23:06] ljharb commented on #382
`es6-shim` should still be used on every engine since there are tons of bugs in all of them with their implementations.

[2015-12-13 01:58] tjsail33 opened #384 "ES6-Shim should not return Symbol.iterator instead of Array in Firefox when using with"
See https://jsfiddle.net/dfqve80a/3/ in Firefox and Chrome for an example of the problem

Essentially, if you load `es6-shim` and then run the following code, the output should be `[1,2,3]` instead of `Symbol.iterator`.
[code]
This may also be affecting IE, however I do not have a version of IE handy to test with currently.

[2015-12-13 02:24] ljharb commented on #384
This relates to the behavior of `Symbol.unscopables`, which browsers don't usually implement correctly, and is unshimmable. Try the same with "values" and "entries" - you'll see it's the actual function it's pulling off of the array.

At any rate this isn't caused nor exacerbated by `es6-shim`, and is impossible to fix in JS.

[2015-12-13 02:24] #384 closed

[2015-12-13 02:25] ljharb commented on #384
(This shouldn't come up in real code, though, because nobody should ever be using the `with` statement for any reason)

[2015-12-13 02:30] tjsail33 commented on #384
Unfortunately ExtJs 3.1.1 uses the exact function in the JsFiddle. Thanks for the information though, its going to be quite valuable while we work to solve this.

[2015-12-13 07:36] ljharb commented on #384
I would highly discourage using any libraries or frameworks that use the `with` statement in 2015. ExtJS is up to 6.0, so if you're on 3.1.1 you may wish to upgrade - 3.0 came out in 2009, and as such, is *ancient*.

[2015-12-13 13:28] tjsail33 commented on #384
You don't have to tell me that haha. We are working to get away from it, but sometimes there are things higher up on the priority list.

[2015-12-13 18:25] ljharb commented on #384
I can't imagine what would be higher on the priority list than using 6 year old outdated software that is broken in modern browsers, but it's not up to me I guess :-)

[2015-12-13 19:35] tjsail33 commented on #384
If it ain't broke and the clients want other things, it's not high priority haha. Now that it has a known fault it'll likely be reevaluated.

[2015-12-13 19:45] rwaldron commented on #384
ExtJs is the exact reason that unscopables exists—for the exact code that was cited here.

[2015-12-13 20:00] Xotic750 opened #385 "IE10: DataView missing prototypes and getters"
IE10's DataView does not appear to be ES6 compliant. It's listed as being compatible on MDN.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DataView/byteOffset
[code]
http://jsfiddle.net/Xotic750/08zng894/3/

[2015-12-13 20:21] Xotic750 commented on #385
Opera 12.16, also listed in MDN, also seems to have similar problems.

[2015-12-13 20:24] Xotic750 commented on #385
Safari 5.1, listed in MDN, also seems the same.

[2015-12-13 21:35] Xotic750 opened #386 "IE10 and others: missing prototype and getter"
Similar to the DataView issue.
Listed as compatible on MDN
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/ArrayBuffer
[code]
http://jsfiddle.net/Xotic750/vfL7zd0b/2/

[2015-12-13 21:46] Xotic750 commented on #382
Based on what you've said, I am going back over all my work to add it in. It's going to throw up some issues I'm sure. :)

[2015-12-14 00:34] ljharb commented on #384
@rwaldron aha, i had a hunch that was the case. does that mean that Firefox should have a bug filed re unscopables?

[2015-12-14 00:36] ljharb commented on #385
Currently the `es6-shim` doesn't attempt to detect, patch, or implement anything relating to Typed Arrays, including ArrayBuffer and DataView.

[2015-12-14 00:36] ljharb commented on #386
https://github.com/paulmillr/es6-shim/issues/385#issuecomment-164314707

[2015-12-14 00:44] Xotic750 commented on #385
Hopefully some day though, huh?

[2015-12-14 01:34] ljharb commented on #385
Possibly never - their sole use case is for performance, and you can't get that performance without native support.

[2015-12-14 08:19] Xotic750 commented on #385
Hmm. This forces me to rethink my `isArrayBuffer`/`isDataView` routines. I changed them to to detect ES6 Arraybuffers (which they do just fine), and if es6-shim can't or has no plan on fixing such issues with these old implementations then I'm back to the "when is an ArrayBuffer not" dilemma. :/

I can't think of a simple way to fix the deficiencies anyhow.

[2015-12-15 01:12] ljharb commented on #347
@TheSavior @timglaser can you check this again as of c7ff2226198eb94177ee2839770762fb9c82f69d? I fixed a number of issues regarding `toLengthsCorrectly` in older Firefoxes, and I'm hoping it's fixed this issue.

[2015-12-15 12:18] cholewczuk commented on #347
I had the same problem on prod with FF v29 - v42. I can confirm that https://github.com/paulmillr/es6-shim/commit/c7ff2226198eb94177ee2839770762fb9c82f69d helped. Thanks!

[2015-12-15 16:05] cscott commented on #278
There's a bugfix patch outstanding to test262-parser which it would be nice if @smikes could merge.

PR #381 has a very rough implementation of running test262 tests inside mocha.  But in order for us to run well inside the browser I think we need to actually have a preprocessing step which translates the tests and writes them to files inside our `tests` directory which mocha can directly run.

[2015-12-15 16:49] ljharb commented on #347
Awesome! It's released as `v0.34.0` so hopefully that will resolve this issue.

[2015-12-15 23:31] TheSavior commented on #347
`0.34.0` fixed it for us as well.

[2015-12-15 23:31] #347 closed

[2015-12-16 00:28] ljharb commented on #347
Hooray, glad I finally found a solution, and was able to reproduce it without Karma!

[2015-12-16 13:07] Xotic750 opened #387 "Map/Set iterator"
I am detecting `MapIterator` and `SetIterator` for my [inpect-x](https://github.com/Xotic750/inspect-x) module. On native ES6 `Map` and `Set`, the following code will alert `true` and `TypeError: Method Map Iterator.prototype.next called on incompatible receiver`.

[code]

http://jsfiddle.net/Xotic750/xw2Lpbwz/

But on `es6-shim` iterators it alerts `true` and `true`.

(I think it is the shim and

[2015-12-16 19:41] ljharb commented on #387
You'd need to do `Function.toString.call` to get the actual source of the function, just in case - the `es6-shim` definitely modifies the `toString` of many of its shims.

[2015-12-16 19:51] Xotic750 commented on #387
Ok, but I didn't think that node 0.10 and 0.8 had native Map/Set.

[2015-12-16 19:58] ljharb commented on #387
They don't :-) that comes in 0.12.

[2015-12-16 20:02] Xotic750 commented on #387
https://saucelabs.com/beta/tests/98e7c0128021479795a1c6cf0de06b46/watch

[2015-12-16 20:32] Xotic750 opened #390 "Safari <=9, different behaviour with `(new Function()).name`"
In Safari 9 I notice that it behaves differently to all other environments I have tested so far.
[code]
https://jsfiddle.net/Xotic750/mqabqdm0/
On Safari this alerts `'anonymous'`, but everywhere else I have tested it alerts `''`
https://saucelabs.com/beta/tests/e755ffaa8c744824b288d2ec6b6b0366/watch

[2015-12-16 20:43] cscott commented on #387
The code in question seems a very strange way to detect the presence of `MapIterator` and `SetIterator`.  But regardless, #391 contains a fix.

[2015-12-16 20:54] Xotic750 commented on #387
Thanks, I haven't tested it yet. The code I posted was just to demonstrate what I was seeing. The actual code is more like
[code]
It's fairly expensive, I know, but accuracy is more important than performance for me and I couldn't figure out a better cross environment/realm way of doing it?

[2015-12-16 21:42] cscott commented on #390
That's a Safari bug, then, and not much es6-shim can do about it.

node/v8 has a similar version of the bug -- the ES6 says that `f.hasOwnProperty('name')` should return `false` if `f` is an anonymous function.  But in the latest node, `f.name` is an own property, with the value ''.  (`Function.prototype.name = ''` so the *value* is right, it just should be inherited from the prototype, not be an

[2015-12-16 21:45] cscott commented on #382
The only really reliable mechanism is to compile a list of bugs on each platform, and test for them individually.  That happens to be exactly what `es6-shim` is doing -- it then loads a shim to fix those bugs when it detects them.

But there are certainly ES6 features which are unshimmable. Our goal is that correctly written ES6 code which uses only the shimmable subset of ES6 will run correctly o

[2015-12-16 21:48] Xotic750 commented on #390
Thanks. There seem to be quite a few non-fixable bugs within ES6. At least it is documented. ;)

[2015-12-16 21:56] Xotic750 commented on #382
I'm currently moving away from `toStringTag` checks in all of my code, and adding `es6-shim` to all projects. Often it means implementing more costly code, but nothing that I'm working on needs to be so performant. :)

[2015-12-16 23:01] cscott commented on #390
Said differently -- "JavaScript engines have a ways to go before they faithfully implement all of ES6."

[2015-12-16 23:19] Xotic750 commented on #390
I don't know if there is a bug report with Safari for this, actually not even sure where to look.

[2015-12-16 23:54] Xotic750 commented on #390
I tried submitting a bug via their Bug Reporter, but my pointer just spins and spins and spins. :/

[2015-12-16 23:57] ljharb commented on #390
I'm going to close this since function name stuff is unshimmable.

[2015-12-16 23:57] #390 closed

[2015-12-17 22:18] cscott commented on #387
This seems like it would be sufficient:
[code]

[2015-12-17 23:05] Xotic750 commented on #387
Does not work cross frame.
[code]
https://jsfiddle.net/Xotic750/prvLzvm2/

[2015-12-17 23:09] ljharb commented on #387
@Xotic750 there's simply not enough machinery on non-globally-exposed items, like GeneratorFunction, or IteratorPrototype, etc, for you to determine them cross-realm. They don't have methods that pivot on internal slots nor is `toString` reliable.

[2015-12-17 23:14] Xotic750 commented on #387
Is there a situation where `isSetIterator2` gets it wrong, I haven't found one yet?

[2015-12-21 09:38] SebastianStehle opened #392 "ES6 Shim fails in Bundle"
Hi, I created a bundle with es6-shim as first file.

Unfortunatly my app (http://mobile.green-parrot.net/) fails, because of this line of code.

3215: if (!ES.IsCallable(globals.Reflect[key])) { }

The reason is that globals.Reflect is undefined from beginning.

[2015-12-21 17:19] ljharb commented on #392
@SebastianStehle i see you closed this; were you able to resolve the issue? https://github.com/paulmillr/es6-shim/blob/master/es6-shim.js#L263-L266 defines `globals.Reflect` in the beginning.

[2015-12-21 20:20] SebastianStehle commented on #392
Partially, I referenced the es6-shim from a cdn and it works. I saw the lines of code you mentioned and I debugged through it, but it was very strange. Because globals.Reflect exists and was undefined your code didnt create a valid reference.

[2015-12-21 22:04] ljharb commented on #392
Are you saying that the last published version works, but master fails?

[2015-12-22 09:41] SebastianStehle commented on #392
No, it doesnt work for me when I bundle it. When I reference es6-shim.js as standalone it works.

[2015-12-22 17:18] ljharb commented on #392
es6-shim is required to be run such that `this` is the global object, and should be the first code executed on your page (after the es5-shim). It should only be the case that it doesn't work if your bundling pipeline isn't packaging it correctly.

[2015-12-29 09:26] hax commented on #376
Any update to support sticky?

[2015-12-29 16:53] ljharb commented on #376
@hax I'm still willing to consider it, but the effort to only partially support a regex flag doesn't seem worth it to me.

[2016-01-04 19:02] ljharb commented on #268
Turns out chai and assert have a "deep equal" bug with NaN, at least in node 0.10. Fixed in e96091f9ec86aa7ba5178c94b6b34426496bde1d.

[2016-01-04 19:02] #268 closed

[2016-01-04 19:06] chrisjohnson opened #393 "Console errors in chrome Version 49.0.2607.0 canary (64-bit)"
So I started off with v0.32.2 bundled into my application, but as of recently I'm seeing an error about RegExp.prototype.global: https://i.imgur.com/G8lDx6b.png

So I figured things have changed, shim is out of date. Side question: is there a way I can get a CDN link for the "latest" es6-shim that updates as browsers update?

Anyway I switch to cdnjs link and in the process update to v0.34. Now I

[2016-01-04 19:15] ljharb commented on #393
It's not generally a great idea to blindly update to the latest of anything, but the cdnjs link should work.

Is this only happening in Chrome Canary, or is it happening in stable Chrome?

[2016-01-04 19:33] chrisjohnson commented on #393
I don't have any power to impact "blind updates" as it's a change in the browser that's introduced this (this error was not showing up before and I haven't changed the code in months). So given that it's blind vs blind I would rather es6-shim be blindly updated to match the browser than have the browser blindly update and my version of the shim be behind. Seems the lesser of two evils to me

The c

[2016-01-04 19:43] ljharb commented on #393
Thanks. I do keep an eye on Chrome Canary and will likely release a new version soon that handles this - as `master` works fine in the latest Canary.

[2016-01-05 15:16] baardsen opened #394 "String.prototype.search fails when given regex"
In version 0.34.0 `'a'.search(/a/)` returns -1 instead of the expected 0. If given a string (i.e. `'a'.search('a')`) then search successfully returns 0. Error is not present in version 0.33.13.

Tested that the error is reproducible in Chrome 49.0.2593.0 dev-m, Firefox 43.0.2 and MS Edge 25.10586.0.0. Curiously it is not reproducible in IE 11.20.10586.0.

[2016-01-05 15:51] Xotic750 commented on #394
Same here https://jsfiddle.net/Xotic750/ocmsxhjs/

[2016-01-05 17:36] ljharb commented on #394
I'm not entirely sure what's causing this, since `String#search` isn't being shimmed directly - it probably calls into something else that is being shimmed (which is a native bug in and of itself).

[2016-01-05 17:42] ljharb commented on #394
oops, nvm, this is a bug in `RegExp.prototype[Symbol.search]`. Fixing!

[2016-01-05 17:50] #394 closed

[2016-01-06 07:29] sivabudh opened #395 "Cannot `npm install es6-shim` on Ubuntu 12.04.5 LTS"
Hello,

I tried to npm install the package on Ubuntu 12.04.5, but it failed. I tried on Ubuntu 14.04, and didn't run into any problems.

Am I doing something wrong?

Thanks!

[code]

[2016-01-06 07:43] ljharb commented on #395
That's a network error. Since you're using an *ancient* node, 0.6, and an equally ancient and unsupported `npm`, the 1.x series, you'll need to upgrade npm to 2.x at least, and you'll want to upgrade node to v4 or v5.

[2016-01-06 07:43] #395 closed

[2016-01-07 12:38] denar90 opened #396 "Error in PhantomJS"
Hi. I'm using `brunch` for building my app. For tests `karma` and `PhantomJS` as browser. When I running tests I get error:
[code]
In Chrome everything is fine.

[2016-01-07 12:40] denar90 commented on #396
Sorry, duplicate https://github.com/paulmillr/es6-shim/issues/312

[2016-01-07 12:40] #396 closed

[2016-01-12 02:11] littledan opened #398 "Question: How well will es6-shim do if V8 shipped Symbol.species, but not for Arrays?"
If V8 shipped the Symbol.species property on different objects in different releases, would ES6-shim be able to cope well with that, or would it get tripped up, imagining that the 'species' property on Symbol implied that Arrays had all of the logic in their methods?

[2016-01-12 06:02] williamyinssw opened #399 "es6-shim.min.js (v0.34.1) in SharePoint - Uncaught Sys.ParameterCountException: Sys.ParameterCountException: Parameter count mismatch."
When 'es6-shim.min.js' is referred in any SharePoint 2013 page,

<pre>&lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.0/es6-shim.min.js&quot;&gt;&lt;/script&gt;</pre>

it shows the following error:

<pre>Uncaught Sys.ParameterCountException: Sys.ParameterCountException: Parameter count mismatch.  ScriptResource.axd?d=....
</pre>

This may be a conflict issue with .NET Aja

[2016-01-12 08:52] ljharb commented on #398
Typically, engines only ship a well-known symbol when it's fully implemented. `es6-shim` does have an internal `addDefaultSpecies` method which won't be tripped up by some of them existing and some not - but I don't think we currently do runtime tests for all of the relevant methods - so we'd probably have to add a bunch of those checks to patch all the methods v8 hadn't gotten to yet.

What's the

[2016-01-12 08:53] ljharb commented on #399
Can you provide a reproducible test case, ideally on a jsfiddle?

Does that error come with any sort of stack trace? What happens if you include the non-minified version?

[2016-01-12 17:52] littledan commented on #398
Shipping it piecemeal might get parts of it sooner. Arrays are a bit more complicated to ship for performance reasons. If you think it'll break existing deployments if it's shipped piecemeal, then that's a decent argument for delaying shipping until the symbols is fully implemented.

[2016-01-12 17:59] ljharb commented on #398
It's really hard for me to estimate since I haven't dug into the species stuff yet.

In general, I don't think any well-known symbol (even iterator) is a good idea to enable unless all parts of it are there. Could the species stuff go behind a flag until it's all ready?

[2016-01-12 18:27] littledan commented on #398
Sure, it'll just be unavailable to users for longer then. In general, ES2015 is only partly done, and we're shipping it piecemeal. But if this should go as a package, then that's that.

[2016-01-21 15:44] JakeChampion commented on #390
I was looking into how we could polyfill `Function.prototype.name` and have come across a [partial implementation](https://github.com/JamesMGreene/Function.name/blob/master/Function.name.js) --
[code]

@ljharb By unshimmable do you mean it is not feasible or do you mean impossible?

[2016-01-21 18:42] ljharb commented on #390
@JakeChampion impossible. The property is nonconfigurable in everything but IE. However, in IE 9 - 11, you could probably add that getter, but I suspect there would be many edge cases, including "native code" functions.

[2016-01-26 12:28] zloirock commented on #365
I wrote it already 4 or 5 times, but the first but still not fixed - `Number` constructor constants still removed in ES3 engines.

[2016-01-26 18:40] ljharb commented on #365
@zloirock I haven't found any evidence of that but I'm probably missing something. Would you mind filing a new issue detailing which constants are removed in ES3 engines?

[2016-01-27 06:20] zloirock opened #402 "One more time: Number constructor wrapper still removes Number constants in ES3 environment"
After #365 `Object.getOwnPropertyNames` for ES3 environment was changed to `Object.keys`. But `Number` constants are non-enumerable. IE8, last `es5-shim`, `es5-sham`, `es6-shim`:
![default](https://cloud.githubusercontent.com/assets/2213682/12605500/d2886530-c4ef-11e5-974f-b6ed98a607fc.png)
How many times should I report it and to show examples? :)

[2016-01-27 06:41] ljharb commented on #402
Thanks, it's hard to deal with multiple problems reported in the same issue, or as comments on github commits - one issue per problem makes it far more likely it will be handled.

[2016-01-27 06:42] #402 closed

[2016-01-29 16:02] baardsen opened #403 "Chrome logs 'Uncaught (in promise) TypeError' on load"
Chrome dev (49.0.2623.23) logs an error to console when loading es6-shim.
![chromeerror](https://cloud.githubusercontent.com/assets/3453179/12679519/edca02f2-c6a4-11e5-858f-3a99f3de7d37.png)

The error seems to come from the `promiseResolveBroken ` test:

    var promiseResolveBroken = (function (Promise) {
      var p = Promise.resolve(5);
      p.constructor = {};
      var p2 = Promise.resolve(

[2016-01-29 16:59] ljharb commented on #403
Generally speaking, warnings like this aren't something that need "fixing" - Firefox logs a warning about mutating prototypes, for example, because one of es6-shim's runtime checks needs to try to mutate a prototype to check compliance.

However, in this case, something like the fix you've suggested will indeed work - thanks for the suggestion!

[2016-01-29 17:01] zloirock commented on #403
Just for info: https://github.com/zloirock/core-js/issues/159 / https://code.google.com/p/chromium/issues/detail?id=575314

[2016-01-29 17:03] #403 closed

[2016-01-30 15:37] rolandjitsu commented on #393
I also got the same error after I updated. The one with the native promise thing.

[2016-01-30 18:05] ljharb commented on #393
I handled the Promise uncaught rejection in #403, and the `RegExp` issue has been fixed in Canary itself.

Please let me know if any other console errors pop up - I consider it perfectly acceptable for errors to happen in nightly/canary builds, but they are still useful signals to prevent those errors from happening in a stable build.

[2016-01-30 18:05] #393 closed

[2016-01-31 22:26] paulmillr opened #404 "Get 1.0.0 out"
Thoughts on this? We almost have ES2016 at this point.

[2016-01-31 22:29] ljharb commented on #404
I'd hoped to make it more modular first so that v1.0.0 would collect a bunch of breaking changes at once, but that's OK to do in a v2.0.0.

I would like to drop bower and component support as part of v1 at least, as well as start with a fixed tagging scheme.

[2016-02-03 01:22] ljharb opened #405 "remove Reflect.enumerate"
The `[[Enumerate]]` Proxy trap and `Reflect.enumerate` are being removed from the spec - it will be part of ES7/ES2016.

Since few engines have shipped `Reflect.enumerate`, I think it's best to remove it from the `es6-shim` even though technically it's part of ES6.

[2016-02-05 10:43] arntj commented on #399
All it takes to reproduce this issue, is to include the MicrosoftAjax 3.5 js (debug version) **before** ES6 shims. I've reproduced it in Chrome in the following jsfiddle (remember to have the browser debug console open before running it):

https://jsfiddle.net/p8ysoxts/

(Note: This fiddle is apparently empty, because there is no code needed to reproduce this issue, all you have to do is to includ

[2016-02-05 10:50] arntj commented on #399
I've also reproduced it with Microsoft Ajax 4.5.2:

https://jsfiddle.net/18pdk5u3/

[2016-02-05 11:50] arntj commented on #399
The problem is that Microsoft Ajax enforces validation of parameters on String.prototype.startsWith, so that it throws an exception when it is called with more than one parameter. ES6 runs this function with two parameters as a part of a feature check (line 830 in es6-shim.js). This could be fixed by wrapping this line in a try-catch.

[2016-02-05 19:05] ljharb commented on #399
In general, shims and polyfills need to always be run first, before application code (and language shims should run before engine-level shims). If you include es5-shim and es6-shim before your Ajax lib, does everything work?

[2016-02-08 11:49] arntj commented on #399
Yes, it does work, but it's a little inconvenient given the current architecure of our website.

[2016-02-08 20:08] ljharb commented on #399
I'll fix this one - my general policy is *not* to fix errors like this, unless it's easy - and in this case it's easy.

Thanks for confirming!

[2016-02-09 10:35] b-rucel opened #406 "Uncaught TypeError: RegExp.prototype.global getter called on non-RegExp object"
![screen shot 2016-02-09 at 2 28 56 am](https://cloud.githubusercontent.com/assets/150024/12913705/2e03d9e6-ced5-11e5-84ad-1c111ac3c344.png)

[2016-02-09 15:30] akim-mcmath opened #407 "Uncaught (in promise) TypeError: object is not a function"
I'm getting this unhelpful error message in Chrome after upgrading to es6-shim@0.34.3.

[code]

I'm using this as part of an Angular 2 application, bundled with Webpack. When I downgrade to es6-shim@0.34.2 the error goes away. And I'm not getting any errors in Firefox.

[2016-02-09 17:41] ljharb commented on #407
@akim-mcmath I assume you're using Chrome Canary?

This is a trivial console warning that you can absolutely ignore and won't affect your program in any way. That said, it should have been resolved by v0.34.3 (and was present in v0.34.2). If you could somehow narrow it down to a line in `es6-shim` that would help a lot.

fwiw, I can't reproduce this in Chrome or Chrome Canary with v0.34.3.

[2016-02-09 17:42] ljharb commented on #406
@b-rucel are you perhaps using an older version of `es6-shim`, and Chrome Canary?

If you upgrade to the latest version of es6-shim this problem should go away. Note that when using Canary, you should expect lots of things to break often.

[2016-02-09 18:01] #399 closed

[2016-02-09 18:01] ljharb commented on #399
This fix will be included in the next release. However, I'd recommend updating this Ajax library that's doing the wrong thing with startsWith, as well as loading the es5-shim and es6-shim first, before anything else.

[2016-02-09 19:29] akim-mcmath commented on #407
@ljharb Thanks for your reply. I'm using Chrome 48.0.2564 actually. I also neglected to mention that the program seemed to be working fine otherwise. If it's trivial, then you don't need to worry about it for my sake. However, I seem to have found the source of the warning on [line 2562](https://github.com/paulmillr/es6-shim/blob/5f641326fe41fa85ccadb373a7e8c56c0acd0e2f/es6-shim.js#L2562) of v0.34

[2016-02-09 19:43] b-rucel commented on #406
Yeah I should have checked my es6-shim version first. It was one of those late night mistakes, thanks for following up quickly.

[2016-02-09 19:43] #406 closed

[2016-02-09 20:37] ljharb commented on #406
np, thanks for the report!

[2016-02-09 21:44] ljharb commented on #407
Thanks, merged!

[2016-02-09 21:44] #407 closed

[2016-02-09 21:55] akim-mcmath commented on #407
You're welcome. Thank you for your work on this project and your quick resolution of this issue.

[2016-02-09 21:57] ljharb commented on #407
np! released as v0.34.4.

[2016-02-10 14:03] stroborobo commented on #392
I can reproduce this, `cat`ing multiple files into one where es6-shim is the first one breaks. Shouldn't that be the same as including those files in `<head>` in the same order? No fancy bundling.

[2016-02-10 16:45] ljharb commented on #392
@stroborobo if you are naively concatenating multiple files together without even properly separating them with semicolons, a lot of things will break, due to ASI rules. Simple `cat`ing has never been a correct or safe approach, and at this point is a very bad web dev practice. In 2016, bundling and/or a build process is simply required.

[2016-02-11 08:35] stroborobo commented on #392
Hey Jordan, I'm very much aware of that :) I wasn't talking about syntax errors or similar. But you're right of course, I just wanted something quick up and running, so I could dabble with the things I was interested in right now. (Eventually use SystemJS, but well, one step at a time, still new to this modern Javascript dependency management.)

But to have that written down: it's Angular2's polyf

[2016-02-11 08:42] ljharb commented on #392
@stroborobo Angular2 is big enough that I'd be willing to make a small patch to handle that case. However, https://github.com/paulmillr/es6-shim/blob/master/es6-shim.js#L264-L267 should be working with it. If you can make me a jsfiddle that reproduces the problem I'll be happy to look into it further.

[2016-02-11 08:51] stroborobo commented on #392
Ok, the exact problem is this: angular2-polyfills.js has a `var Reflect;` in global space, which results an undefined window.Reflect. Your check `!globals.Reflect` is true but in `defineProperty` the check is actually `name in object` which is true, since it's declared but not defined to something evaluating to true.

If you really need a jsfiddle I'd make one, but I guess that's a fairly simple p

[2016-02-11 08:58] ljharb commented on #392
Aha, thank you. Seems simple enough, I'll put up a fix.

[2016-02-11 08:58] ljharb commented on #392
also, it would be good to file a bug report on angular for that behavior - they shouldn't be a) creating globals nor b) using names that are part of the language.

[2016-02-11 09:04] stroborobo commented on #392
I'll have a look into their source code, maybe it's just the Typescript compiler outputting things that weren't intended. Thanks for adding this workaround!

[2016-02-11 18:29] OClement opened #409 "IE11 - Object doesn't support property or method 'bind'"
Line 30 of es6-shim.js:
`var _apply = Function.call.bind(function.apply)`

Triggers `Object doesn't support property or method 'bind'` in IE11

[2016-02-11 18:36] ljharb commented on #409
Are you loading anything else in the page at the time? `Function.call === Function.prototype.call` and is a function, so it should definitely have `.bind`.

[2016-02-11 18:36] ljharb commented on #409
Also, are you loading anything else *before* es5-shim and es6-shim?

Could you create a jsfiddle that repros?

[2016-02-11 18:41] OClement commented on #409
All the scripts loaded, in that order:

[code]

Are you saying Ie11 also need es5-shim ?
Sorry I haven't had to support IE in a long time :)

Will try this out and see if I can create a fiddle or plunkr soon
Problem is I don't have IE11 handy at the moment

Thanks

[2016-02-11 18:55] ljharb commented on #409
A few things - es6-promise and Reflect are redundant if you have the es6-shim. Second, System.js must load after es6-shim. If you change the loading order, is it fixed? Third, es5-shim is always required for every browser because none exist that fully comply with ES5, even latest Chrome. Load that before es6-shim.

[2016-02-11 19:01] OClement commented on #409
Wow ok, I'll need to review all this
Thanks a lot for the info!
I'll give this all a try ASAP and come back with results

[2016-02-15 16:20] OClement commented on #409
Sorry for the delay

So you were definitely right, by adding es5 then es6 shims resolved the issue

Thanks for your help, closing

[2016-02-15 16:20] #409 closed

[2016-02-15 16:24] ljharb commented on #409
@OClement fwiw I'd still be interested in fixing this, if you could prepare a fiddle with system.js before es6-shim.js and verify that it breaks in IE 11, I can use that to repro :-)

[2016-02-15 16:27] OClement commented on #409
I'm not exactly sure to understand what there is to fix;
I am under the impression the issue was on my side where I was not loading es5-shims before the es6 ones, leading to IE not working properly;

Are you saying this isn't intended?

[2016-02-15 16:30] ljharb commented on #409
@OClement it's kind of both. Shims should be loaded first, which fixed your issue. However, I like my libraries to be robust even when they're not used correctly - so I'd prefer the shim to work as well as possible even when not loaded first. IE 11 has a native "bind", so the es5-shim shouldn't be required - the implication is that system.js is somehow breaking the native "bind" method.

[2016-02-15 16:43] OClement commented on #409
Ok I see; I'll check if I can find some time to create a fiddle or plunk or something, but I am tight on time unfortunately, so don't expect one real quick

I am starting to wonder if the core of this issue is not actually IE's compatibility view mode
As you probably know already, all "sites" of an Intranet are displayed using Compatibility View mode by default, which almost replicates an IE8 envi

[2016-02-15 16:49] ljharb commented on #409
aha, yes, that's possible. Compatibility view mode does break a lot of things (many of which es5-shim and es6-shim patch, when both loaded).

Thanks, I'll take a look but I'm much less concerned about supporting compatibility view mode.

[2016-02-15 16:52] OClement commented on #409
I agree
I don't really see need
We pretty much have to instruct our clients they need to disable this whenever they want to use IE anyway, this thing's a scourge, for lack of a better word

[2016-02-15 19:40] ljharb commented on #398
Closing for now, please let me know if there are further questions/updates.

[2016-02-15 19:40] #398 closed

[2016-02-15 19:59] #405 closed

[2016-02-16 09:04] #287 closed

[2016-02-23 10:06] SebastianStehle commented on #392
Hi, thank you for your fix, I finally tried it again, but I have another exception now:

Uncaught TypeError: Cannot redefine property: Reflect

[2016-02-23 18:06] ljharb commented on #392
@SebastianStehle any chance you could make me a jsfiddle that reproduces the issue?

[2016-02-26 01:03] hafizahmedattari commented on #392
@SebastianStehle keep the angular2-polyfills at above from es6-shim

[code]

[2016-02-26 01:07] ljharb commented on #392
That's not a good solution, es5-shim and es6-shim should always be first :-)

[2016-02-26 01:11] hafizahmedattari commented on #392
But, It's working...

[2016-02-26 01:13] ljharb commented on #392
lots of things "work" :-) if there's a bug in angular 2's polyfills, i'd prefer es6-shim to be robust against it if possible, and better, i'd prefer angular 2 fix their broken code.

[2016-02-26 01:25] hafizahmedattari commented on #392
You have to change this from
[code]
to
[code]
it'll work.

[2016-02-26 02:12] hafizahmedattari commented on #392
You have to change this from
[code]
to
[code]
it's working.

[2016-02-26 07:19] ljharb commented on #392
@hafizahmedattari is that because angular 2's polyfill makes it non-extensible (which is a violation of the spec)?

[2016-02-26 11:41] hafizahmedattari commented on #392
@ljharb you are right, but if you want to

you have to do like this :)

[2016-02-26 16:45] ljharb commented on #392
Not necessarily - even if it's made non-extensible I can still just delete it, and copy its properties over to a new object.

[2016-02-28 18:15] ljharb commented on #392
When I use https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.7/angular2-polyfills.js - I can't reproduce this whether it's included before or after es6-shim. Is there a specific browser this fails in?

[2016-02-28 20:14] hafizahmedattari commented on #392
This error occurs after merging files into one.

[2016-02-28 22:24] ljharb commented on #392
@hafizahmedattari that doesn't make any sense - sort of ASI issues (the shims use a UMD so that doesn't apply) and strict mode, two script tags are identical to two concatenated files from a runtime standpoint.

[2016-02-29 18:44] istarnx opened #410 "Leaky abstraction in the use of window.postMessage()?"
Hi guys,

It looks like you're using window.postMessage("zero-timeout-message", ...) to implement an internal enqueue method. This bit me while running unit tests in PhantomJS. We have a message event listener registered on the window, and it's getting invoked with "zero-timeout-message", which causes it to break unless we explicitly filter your message type.

Does it make sense for your clients t

[2016-02-29 18:53] ljharb commented on #410
This is a fair concern. However, a postMessage handler should *always* be only reacting to explicit message types, never broadly reacting to every event - so I'm not sure it's a real issue.

I'll leave this open in case others have thoughts.

[2016-02-29 18:54] ljharb commented on #410
One possibility is overriding `addEventListener` to filter out our postMessage events, but that seems like it'd introduce a lot of latency for users for minimal gain :-/

[2016-03-01 14:30] hafizahmedattari commented on #392
@ljharb I had debugged the result of `globals.Reflect` at [Line:265](https://github.com/paulmillr/es6-shim/blob/0.35.0/es6-shim.js#L265) in both situations(separate files and bundle file). The result was shock, with separate files the value of `globals.Reflect` is object and with bundle file the value of `globals.Reflect` is `undefined`. That's why it goes to redefining `Reflect`, which is already

[2016-03-01 19:12] ljharb commented on #392
If you could provide a jsfiddle (or similar) with the bundle file that would be very helpful

[2016-03-02 12:25] SebastianStehle commented on #392
I just reopened the issue, because it is not solved yet. I hope it is okay.

[2016-03-02 16:14] ljharb commented on #392
Absolutely :-)

However, I will say that while I'm very curious to figure it out, the implication is that there's a flaw in your bundling process, since the files work separately - and any time bundling changes behavior it's usually a bundling bug.

[2016-03-03 20:52] blacksonic commented on #404
It would be good, because on projects like Angular 2 that allow minor version upgrades it can be upgraded. Now it is not possible because of pre 1.0 version.

[2016-03-03 22:25] ljharb commented on #404
@blacksonic it should still work fine if using `^`, which for < 1.0 releases upgrades the patch version (which is the only nonbreaking thing that can be updated pre-1.0)

[2016-03-04 08:56] blacksonic commented on #404
Yes i just realized that minor version changes pre-1.0 are actualling breaking changes

[2016-03-20 12:15] cezarykluczynski commented on #392
I was doing Angular2 hello world and stumbled upon this problem too, when trying to concatenate all required dependencies into one files. My solution was to wrap content of every file into self-executing anonymous function.

[2016-03-24 14:56] Yaffle opened #415 "`Array.from` should not touch Array.prototype setters (createDataPropertyOrThrow)"
An edge case...

[code]

[2016-03-24 16:07] Yaffle commented on #415
Ah... this was fixed in https://github.com/mathiasbynens/Array.from ... sorry

[2016-03-24 16:20] ljharb commented on #415
Hmm, there's no fix for this in https://github.com/mathiasbynens/Array.from or this repo at all?

However, according to https://tc39.github.io/ecma262/#sec-array.from step 12.b., it seems like it should indeed throw in this case.

[2016-03-24 16:22] Yaffle commented on #415
What about step 12.e ?

[2016-03-24 16:30] ljharb commented on #415
Ah, you're correct that step 12e is what applies here - but the `?` in the spec means if CreateDataPropertyOrThrow returns an abrupt completion, that the exception should be thrown.

[2016-03-24 16:37] Yaffle commented on #415
OK

[2016-03-25 08:24] Yaffle commented on #415
@ljharb The setter will not be touched with `CreateDataPropertyOrThrow`.

[2016-03-25 23:00] ljharb commented on #415
Good call, you're totally correct. Thanks for clarifying.

[2016-03-27 18:12] #415 closed

[2016-03-30 20:01] hafizahmedattari commented on #392
Issue resolved in updated angular2 lib, I tried in angular2@2.0.0-beta.12, working without any problem.

[2016-04-05 11:45] jdelobel commented on #392
Same problem with angular2@2.0.0-beta.12 for me (during minification process).

[2016-04-05 15:49] ljharb commented on #392
@jdelobel can you make me a jsfiddle that reproduces it with the latest version of the shim?

[2016-04-06 09:46] jdelobel commented on #392
@ljharb  You can clone git@github.com:jdelobel/angular2-tour-of-heroes.git and got to develop branch.
Then:
- npm i
- gulp dist
- npm start

and you will see the error.

[2016-04-19 22:42] chmx commented on #301
@ljharb Using `var global = this;` before loading es6-shim works with Nashorn too. Thanks!

[2016-04-27 03:00] DennisDel commented on #392
Same problem with latest version.

Please see the attachment for problem line.
![_title_](https://cloud.githubusercontent.com/assets/7200595/14840483/fbae7e16-0c77-11e6-9aa0-c8c1366bca3a.png)

[2016-04-27 04:20] ljharb commented on #392
@DennisDel This looks like a bad minification - it's changing "Map" to "a", but "a" should only be available inside the constructor. Is that the minified build, or if not, what tool are you using to produce that?

[2016-04-27 04:37] DennisDel commented on #392
@ljharb I am using VS 2015 and used Google Chrome pretty print just to show you what the problem is a bit more specifically. I am not using Angularjs 2.0 btw.

[2016-04-27 04:49] ljharb commented on #392
@DennisDel VS 2015 is an editor - what i meant was, are you using the minified build included in this repo, or is your app doing the minification itself?

[2016-04-27 04:55] DennisDel commented on #392
@ljharb I tried minified and normal from this repo. they both have the same problem when I build them in release mode.

[2016-04-27 05:45] ljharb commented on #392
@DennisDel thanks - i think you have a separate issue. would you file a new one with this information, as well as what build process you're using? (if that's something built into VS 2015, mention that too, it may have a bug)

[2016-04-27 05:47] DennisDel commented on #392
Will do. Thank you.

[2016-04-29 03:06] GaryB432 opened #416 "Array.prototype.includes is missing"
I was wondering if this was an oversight or am I misunderstanding your repo.  The method does seem to be part of [the spec](https://tc39.github.io/ecma262/2016/#sec-array.prototype.includes).

I'm using node v4.4.1 and `Array.prototype.includes` is undefined as might be expected so I was thinking about using this shim.

Thanks for the great repo!

[2016-04-29 03:46] ljharb commented on #416
This is part of ES7/ES2016, not ES6. It doesn't belong in this shim.

I recommend using http://npmjs.com/array-includes to shim it.

[2016-04-29 03:46] #416 closed

[2016-05-06 18:24] saghul opened #417 "Add Array.prototype.includes"
It would be a nice to have.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/includes

[2016-05-06 18:52] ljharb commented on #417
It's part of ES7/ES2016, not ES6/ES2015.

I recommend https://www.npmjs.com/package/array-includes.

[2016-05-06 18:52] #417 closed

[2016-05-06 20:30] saghul commented on #417
Ops, thanks for the pointer!

[2016-05-12 03:40] whyisthisfieldhere opened #418 "Object.isExtensible (and likely others) return incorrect result for functions"
According to both (my understanding of) the ES6 spec and firefox, Object.isExtensible should return true for functions (as they are considered object types)
However, es6-shim's Object.isExtensible returns false for functions because it uses Type.object instead of !Type.primitive for checking the argument.
As a practical example, this bug breaks Benvie's WeakMap shim when applied to functions.

I'v

[2016-05-12 07:38] ljharb commented on #418
Thanks! Let me fix that right now.

[2016-05-12 08:13] #418 closed

[2016-05-12 08:21] ljharb commented on #418
Released as v0.35.1.

[2016-05-18 20:28] NoMan2000 commented on #392
I also encountered this.  When using the ES6 Sham, (but not the ES5 Shim/Sham and ES6 Shim), whenever I minified the files using Uglifier, Safari started throwing errors.

This is the part it finds objectionable, **TypeError: Attempting to change configurable attribute of unconfigurable property.**

                 }, set instanceof Object ? setPrototypeOf = createAndCopy : (set.__proto__ = objPr

[2016-05-18 23:17] ljharb commented on #392
@NoMan2000 if you're using uglifier, by default it mangles function names, which is why i provide a pre-uglified es6-shim.min.js. To unbreak you, you can use the uglifier option to not do that. (Namely, the line should be `}(), supportsDescriptors && "foo" !== function foo() {}.name && Object.defineProperty(Function.prototype, "name", {`)

[2016-06-03 03:26] DennisDel commented on #392
Hey all,
if you have similar problems, make sure you always use the minifed version and DO NOT use JsMinify to do it. I tried both normal and minified version and they always cause issues with JsMinify.

[2016-06-06 00:56] DennisDel commented on #392
@ljharb Do I need any other file to include in my bundle or es6-shim.min.js alone will suffice ?

[2016-06-06 01:03] DennisDel commented on #392
This is my current problem
![_title_](https://cloud.githubusercontent.com/assets/7200595/15809521/59d0bc0c-2bd6-11e6-94fc-cf1329942078.png)

[2016-06-06 05:09] ljharb commented on #392
@DennisDel this RangeError is wrapped by a function that does `try/catch` - I'm sure you'll find it called `a` in that screenshot, somewhere in the code - so I'm not sure how that error isn't being caught. Can you make a jsfiddle that reproduces it?

(`es6-shim` is recommended to follow `es5-shim`, since every browser violates ES5 in some way, but it should work just fine without it too)

[2016-07-13 09:08] voronianski opened #419 "Array.prototype[H.unscopables] is undefined in Firefox"
Is anybody experiencing this exception in Firefox?

[code]

FF 47.0.1, OS X 10.11.5, es6-shim 0.35.1

[2016-07-13 16:22] ljharb commented on #419
That seems like a minification issue (it works fine on the unminified source) - are you minifying es6-shim yourself, or using our build? Can you provide a jsfiddle or similar that can reproduce the problem?

[2016-07-15 13:04] belugabob opened #420 "Array.find not working in all cases"
I'm using es6-shim to polyfill Array.find for broswers that don't support it.
The issue that I'm having is that some arrays are not being polyfilled.
Further investigation reveals that arrays which I create in my own code are being polyfilled, but arrays withing object structures being sent to the browser via signalr (2.2.0) are not.
Is this a known issue, or am I being stupid, and misunderstandin

[2016-07-15 17:19] ljharb commented on #420
@belugabob can you explain "arrays with object structures"? I'm not familiar with signalr, but if you try `Array.isArray(foo)`, then unless it returns `true`, it's not actually an array.

[2016-07-15 19:14] belugabob commented on #420
Forgive my typo - should read "arrays within object structures"

Off the top of my head, as I'm not at my computer, and abbreviated for simplicity...

{
 Category: "Staff",
 Entrants: [ { Name: "Fred", Id: 1},{ Name: "Bert", Id: 2}],
}

SignalR is a server to browser communication library which effectively"pushes" data to the browser. I suspect that my issue is related to the way that SignalR dese

[2016-07-15 22:00] ljharb commented on #420
It is possible, if SignalR is creating those arrays in a different realm (like an iframe, or a web worker) then they'd have an un-shimmed `Array.prototype`. If so, you could use `Array.prototype.find.call` instead, or, also run the es6-shim in the realm they're using.

[2016-07-16 06:09] belugabob commented on #420
Ok, that sounds possible - will investigate further

[2016-07-28 22:57] mockdeep opened #421 "Set missing forEach method on Firefox 24"
Looks similar to https://github.com/paulmillr/es6-shim/issues/143, but using Lodash on Firefox 24 results in an error: `TypeError: set.forEach is not a function`. Looks like `Set` is defined, but doesn't implement `forEach`.

[2016-07-28 22:59] ljharb commented on #421
Can you make a jsfiddle that reproduces the issue?

[2016-07-28 23:06] mockdeep commented on #421
Sure, there's not much to it: https://jsfiddle.net/dgswvqc7/

[2016-07-28 23:07] ljharb commented on #421
Ideally one that includes es6-shim :-)

[2016-07-28 23:20] mockdeep commented on #421
Hmm, it seems to [work with the jsfiddle](https://jsfiddle.net/dgswvqc7/1/), so I guess it must be on my end. Let me verify that the shims are included properly.

[2016-07-28 23:20] #421 closed

[2016-07-30 16:31] mockdeep commented on #421
Doh! Turns out I had included `es6-sham` instead of `es6-shim`. It's all working now.

[2016-07-30 16:47] ljharb commented on #421
es6-sham requires es6-shim first be included. Glad you figured it out and thanks for the followup!

[2016-08-09 14:07] aronallen opened #422 "set/get ngFor performance on IE11"
Hi,

We are having this issue in Angular 2 land.
Any chance shim performance can be improved for IE11.

https://github.com/angular/angular/issues/8112

[2016-08-09 15:03] ljharb commented on #422
I'd be happy to improve performance wherever it can be done without sacrificing correctness.

I'm not sure what the best way to do that is, but am open to PRs.

[2016-08-29 14:41] rtm opened #423 "Typing for Promise#catch"
Is there any reason for this overload in the typings file?
The preceding line would seem to encompass this one.

    catch(onrejected?: (reason: any) => T | PromiseLike<T> | void): Promise<T>;

[2016-08-29 15:57] ljharb commented on #423
What typings file are you referring to?

[2016-08-29 16:04] rtm commented on #423
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/es6-shim/es6-shim.d.ts

[2016-08-29 16:17] ljharb commented on #423
That's not this repo, so I'm not sure what you want me to do about it.

It looks like the SO answer explains the problem with trying to statically type non-statically-typable interfaces.

[2016-08-29 16:17] #423 closed

[2016-09-28 13:21] paladox opened #424 "Support Array.prototype.map sub classing"
Hi please could you support Array.prototype.map subclassing please?

It shows here http://kangax.github.io/compat-table/es6/ that es6-shim does not support this.

Subclassing

Array.prototype.map

[2016-09-28 15:16] ljharb commented on #424
Subclassing can not be polyfilled, and requires native support.

[2016-09-28 15:16] #424 closed

[2016-10-05 11:21] cvanleeuwen commented on #420
I've the encountered this exact same issue using SignalR 2.2.1.

But this seems to be more of an SignalR issue rather than es6-shim correct?

[2016-10-05 15:55] ljharb commented on #420
@cvanleeuwen yes, that seems to be the case. An issue should be filed on SignalR, and this one closed.

[2016-10-06 17:50] poloka opened #426 "Array.prototype.includes() is undefined"
[Array.prototype.includes()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/includes) is missing from the es6-shim.

[2016-10-06 18:00] ljharb commented on #426
Nope, that's not in ES6. It's in ES2016.

Try https://www.npmjs.com/package/array-includes

[2016-10-06 18:00] #426 closed

[2016-10-26 00:39] blesh opened #427 "Using more widely used symbol polyfill or means of detecting `$iterator$`"
[Currently this library uses a library-specific string for iterators if Symbol.iterator does not exist](https://github.com/paulmillr/es6-shim/blob/3e46993a95b1867665166e0290e5cbaaf2ccb2f6/es6-shim.js#L266).

This has meant we need [a strange workaround for RxJS to access iterators](https://github.com/ReactiveX/rxjs/blob/0271fab2f435d21fc64187a39143237208a54163/src/symbol/iterator.ts#L18-L26) on ty

[2016-10-26 00:51] ljharb commented on #427
When we're in a browser that has a native property - like certain versions of Firefox with `"@@iterator"` - we use that. However, when we're not in a browser that has that, or `Symbol`, there's no global place to put it.

Where would you suggest?

Note that the "strange workaround" you're using is actually the perfect and correct approach to reliably get this value - I'm not sure why you'd need a

[2016-10-26 00:54] blesh commented on #427
If you ever change your implementation of `Map` or `Set`, such that `Map.prototype[$yourIterator$] !== Map.prototype.entries`, then the workaround breaks.

[2016-10-26 01:10] ljharb commented on #427
@blesh if we did that, we'd be violating the spec - thus, we will never do that.

[2016-10-26 01:11] ljharb commented on #427
To clarify, the spec *requires* that `Map.prototype[Symbol.iterator] === Map.prototype.entries && Set.prototype[Symbol.iterator] === Set.prototype.values && Array.prototype[Symbol.iterator] === Array.prototype.values` be `true`.

[2016-10-26 04:22] blesh commented on #427
Interesting. Thanks. I couldn't locate the spec on this.

It's still unfortunate that we have a special case for es6-shim due to a somewhat avant-garde symbol property name. (@@iterator would have been nice)

Thanks for your feedback.

[2016-10-26 04:22] #427 closed

[2016-10-26 05:54] ljharb commented on #427
I explicitly chose not to use "@@iterator" to avoid people wrongly attempting to "polyfill" iterators based on Firefox's unfortunate choice to make a nonstandard string property magical.

[2016-10-28 16:55] blesh commented on #427
I think we all would have been better off if people had just stuck to a few agreed upon conventions, honestly. But it's no big deal. It'll all be gone in a few years.

[2016-10-28 17:49] ljharb commented on #427
I love your optimism :-) the first browser that didn't need the es5-shim appeared within the last year, 6 years after ES5 was standard.

[2016-10-28 18:02] blesh commented on #427
Haha... Aw, 6 years isn't a big deal. Look how long it took Java to get generics or arrow functions, and that's just one platform.

[2016-11-10 19:47] aaron-stripe opened #428 "TypeError when calling Array.prototype.find on HTMLAllCollection"
The shimmed version of `Array.prototype.find` raises a `TypeError` when called on an `HTMLAllCollection`.

This is happening in `v54.0.2840.71` of Chrome.

Here is a codepen that reproduces this bug in Chrome: http://codepen.io/pifantastic/pen/vyLxGq

[code]

![screenshot 2016-11-10 13 46 49](https://cloud.githubusercontent.com/assets/23087744/20191672/339e471a-a74c-11e6-9238-a2b8a43c510c.png)

[2016-11-10 19:56] ljharb commented on #428
`document.all` is HIGHLY deprecated, and should never be used - try `document.querySelectorAll('*')` instead, if you really want that.

`document.all` is a special case as the only falsy object in all of JS and browsers, and there's not a reliable way for me to detect it - but it's been a bad practice for over a *decade* to use it.

[2016-11-10 20:04] aaron-stripe commented on #428
@ljharb Yep. We don't actually use it. Apparently a lot of browser extensions do though :(

We reported this due to a big spike in errors in our error reporting service. I understand if you're not interested in fixing it at the es6-shim level. We can find a workaround on our side.

[2016-11-10 21:39] ljharb commented on #428
@aaron-stripe i'd love to fix it if there's a proper way to do it, but `document.all` is a pretty horrifically bad thing to have explicit support for :-/

The codepen is helpful - can you point me to some libraries that are trying to pass `document.all` into `Array.prototype.find`? The latter is new enough that these libs should be PR-able to do the right thing instead.

[2016-11-10 21:43] aaron-stripe commented on #428
@ljharb unfortunately I don't know what library is responsible. From our end we can't see much, and our best guess is that it's a browser extension that is doing something on each page load. I can tell you that we first saw it happening ~ `Nov 9, 2016 6:37:08 PM UTC`. I will definitely post more details if I can figure out how to get them.

[2016-11-13 14:52] tzurbaev commented on #428
If someone interested, VueJS Devtools extension for Chrome causes this error too. But I don't think that a lot of @aaron-stripe users have devtools installed.

[2016-11-13 15:58] aaron-stripe commented on #428
@tzurbaev amazing! The timing on this lines up pretty well, it's possible that VueJS Devtools are causing the issue I'm seeing. I just opened a PR with a fix.

[2016-11-13 19:20] ljharb commented on #428
@aaron-stripe since that PR is merged, let's give it a few days to land. If the errors don't subside, I'll write an awful hack to make this work here.

[2016-11-15 08:10] #428 closed

[2016-11-15 08:10] ljharb commented on #428
I ended up writing the awful hack. The next release will include this fix.

[2016-11-15 17:13] aaron-stripe commented on #428
@ljharb thanks :)

[2016-11-19 05:57] jdalton commented on #422
I'll give a PR a try :grinning:

[2016-11-24 11:13] Davy-F opened #430 "IE9 - Error: (SystemJS) No provider for PlatformRef!"
**Browser:** Internet Explorer 9
**Angular:** v2.2.0

When adding the es6-shim script into my app I get the following error:

It works correctly on all other browsers and the app works fine on IE9 if I remove the reference to the shim.

Any help would be appreciated.

[2016-11-24 11:19] Davy-F commented on #430
Edit: Seems adding es5-shim and putting these before all other scripts helps.

Carry on, nothing to see here...

[2016-11-24 11:19] #430 closed

[2016-12-04 01:43] ljharb commented on #422
@aronallen #429 is released with [v0.35.2](https://github.com/paulmillr/es6-shim/releases/tag/v0.35.2) - please let me know if that does not resolve your performance issue.

[2016-12-04 01:43] #422 closed

[2016-12-21 11:30] AurelioDeRosa opened #431 "The shim for the repeat function can be improved"
Hi.

The [current shim for the repeat function](https://github.com/paulmillr/es6-shim/blob/master/es6-shim.js#L777) can be improved in regard of performance. A couple of faster implementations can be found [here](http://www.2ality.com/2014/01/efficient-string-repeat.html) and [here](https://www.audero.it/blog/2016/12/16/from-javascript-developer-to-javascript-engineer-re-implementing-ecmascript-20

[2016-12-21 19:05] ljharb commented on #431
Although jsperf is no longer up, https://github.com/paulmillr/es6-shim/blob/master/es6-shim.js#L776 links to one that demonstrates that we are already using the fastest possible algorithm *across browsers*, which is quite important.

If you'd like to provide benchmarks across all ES3, ES5, and noncompliant-ES6 browsers that we support, I'll be happy to tweak the implementation (but given that virt

[2016-12-21 19:05] #431 closed

[2016-12-21 19:28] AurelioDeRosa commented on #431
I strongly disagree with the approach here. The time complexity of the implementations you have is `O(n)`, while the other two have a time complexity of `O(log n)`. It makes a difference even for small numbers (e.g. n < 100). Also, one of the two implementations linked uses features available since ever, so it'll be faster _cross-browser_. To me, it seems that you're discarding a faster implementa

[2016-12-21 19:36] ljharb commented on #431
@AurelioDeRosa this implementation was chosen because it was proven to be faster, which trumps theoretical big O complexity. I'm more than happy to accept a PR with another implementation than comes with similar proofs via benchmarks on all supported engines.

However, I'm already convinced from previous evidence that this is the fastest implementation - since you're making the claim that other im

[2016-12-21 19:52] AurelioDeRosa commented on #431
Test here: https://jsfiddle.net/gcn38zj0/

It results faster in Chrome, IE, Edge, and Opera. Firefox shows similar results. IE has an improvement of ~40%.

You claim "it was proven to be faster". Can I ask compared to what? The fact that [MDN](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/String/repeat) (among others) doesn't report the `O(n)` solution as a polyfill

[2016-12-21 21:40] ljharb commented on #431
For one, MDN's polyfills are examples, and should never be used in production - nor are they endorsements of a particular method of polyfilling.

Second, you'll note that our algorithm isn't actually O(n), because it doesn't run N times, it runs "the square root of N" times - see https://en.wikipedia.org/wiki/Exponentiation_by_squaring#Computational_complexity.

As to "compared to what" - the [jsp

[2016-12-28 16:57] LMLB opened #432 "Bug in roundHandlesBoundaryConditions"
In roundHandlesBoundaryConditions, I think the the `-0.5` should be positive in the second half (i.e. `Math.round(-0.5 + (Number.EPSILON / 3.99)) === 1`).

[2016-12-28 17:06] LMLB commented on #432
In any case, the code currently replaces Math.round if Math.round(-0.4999...) isn't equal to 1.

[2016-12-29 09:03] ljharb commented on #432
Can you provide a test case that you think should pass, that fails with our current code?

Indeed I see `Math.round(-0.5 + (Number.EPSILON / 3.99))` equalling `-0` and `Math.round(0.5 + (Number.EPSILON / 3.99))` equalling `1` in most browsers.

Per https://github.com/paulmillr/es6-shim/blob/master/es6-shim.js#L2071-L2072, I checked Safari 8, IE 11, and Opera 12, and got the same results.

`git` sp

[2016-12-29 09:25] Yaffle commented on #432
the right fix is to remove the second equals operator:
[code]
It seems it was added by mistake.

[2016-12-29 09:43] ljharb commented on #432
There was definitely a reason that I added the second condition, but if we can't reproduce what it was, then it's probably worth removing it. I'll do so when I have time to rerun tests on all the browsers and versions.

[2017-01-14 18:36] Yaffle commented on #334
This may help:

[code]

[2017-01-17 18:45] Yaffle commented on #432
@ljharb which tests you need to rerun? Can I help you?

[2017-01-23 21:59] zerovox opened #433 "Array.prototype.find is always shimmed"
[code]

I believe this will shim find if the behaviour of find is correct. `[, 1].find(function (item, idx) { return idx === 0; })` should return `undefined` (assuming my understanding that `[, 1]` should act the same as `[undefined, 1]`, so we want to shim if it returns `1`. This means the negation is placed incorrectly.

[2017-01-23 23:05] ljharb commented on #433
That's not entirely accurate - we want to shim if it reaches the iteration of index 1 - but you're correct that this seems wrong, because of the `undefined`.

I'll get a fix out for this (and `findIndex`) shortly.

[2017-01-23 23:05] ljharb commented on #433
(note that this isn't breaking anything, it's just needlessly shimming)

[2017-01-23 23:46] #433 closed

[2017-01-24 06:49] ljharb commented on #433
Published as v0.35.3.

[2017-01-25 10:28] jibesh opened #434 "Tweak documentation to specify inclusion order of es5-shim and es6-shim"
For using in the browser, the documentation says '_it's strongly recommended to always include es5-shim_' but it does not specify the order of inclusion. A side effect of not doing so is as follows:
  - Only using es6-shim, the identifier returnExports points to an Object.
  - If es5-shim is included before es6-shim, the identifier returnExports still points to an Object.
  - But if es5-shim is in

[2017-01-25 18:53] ljharb commented on #434
Very good point, a PR would be welcome.

(That said, nobody should be using `returnExports`, because it's a shim - it's meant to simply install things on the environment)

[2017-04-04 17:50] nerfpops opened #438 ""e.delete is not a function" thrown when site is translated with Google Translate"
Following the translate link next to search results on Google will break js on any site using es6-shim. Examples:

http://translate.google.dk/translate?hl=da&sl=en&u=http://www.hostgator.com/
http://translate.google.dk/translate?hl=da&sl=en&u=http://www.videoadblocker.net/
http://translate.google.dk/translate?hl=da&sl=en&u=http://summit.presidents.eu/summit

This is because Google for some reason

[2017-04-04 18:53] ljharb commented on #438
This seems like a bug with Google Translate itself; one that would break any site using babel-polyfill/core-js as well. Have you filed it to Google?

[2017-04-04 18:59] ljharb commented on #438
I think this is something I could special-case detect in es6-shim, though.

https://twitter.com/ljharb/status/849335573114363904 / http://translate.googleusercontent.com/translate_c?depth=2&hl=da&rurl=translate.google.com&sl=en&sp=nmt4&u=http://rawgit.com/es-shims/es6-shim/master/test/index.html&usg=ALkJrhiX_iY0sIXkR1g1IS9nwN_t5dyJ_A illustrates the problem as well.

[2017-04-04 19:15] nerfpops commented on #438
Haven't filed it to Google. Don't even know where to do that...

[2017-04-04 19:38] nerfpops commented on #438
core-js seems to work and also turns Set into its original function: http://translate.google.dk/translate?hl=da&sl=en&u=https://rawgit.com/zloirock/core-js/master/tests/tests.html

[2017-04-05 00:36] ljharb commented on #438
@nerfpops that core-js test page seems to not actually be loading core-js.

[2017-04-05 00:36] ljharb commented on #438
However, oddly, the core-js test page doesn't seem to be shimming `Set` either. Very strange.

[2017-04-07 04:14] ljharb opened #439 "Firefox 30-35: 8 failing Set tests"
(on Windows, via Browserstack)

Errors like: `TypeError: this._obj[$iterator$] is not a function@set.js:32:1`

[2017-04-07 05:25] #387 closed

[2017-04-07 05:25] #438 closed

[2017-04-07 05:25] #439 closed

[2017-04-07 05:28] ljharb commented on #438
@nerfpops the next release of es6-shim will replace the broken `Set` shim with a compliant one on translated pages; I'm still not sure how the core-js test page was able to get at the native `Set`; but that can be fixed later.

[2017-04-07 06:20] ljharb opened #440 "Sauce tests fail to connect"
https://travis-ci.org/paulmillr/es6-shim/jobs/219557314

` Error: response: {"error": "Your Sauce Connect version (4.3) is no longer supported. Please download the latest version from https://wiki.saucelabs.com/display/DOCS/Sauce+Connect+Proxy."}.`

[2017-04-07 07:40] nerfpops commented on #438
Awesome! You guys are fast :)

[2017-04-24 09:29] dimaslz opened #441 "Issue when prototype.js is present"
Hi, I have a problem with es6-shim when is using prototype.js.

Basically the code is a widget that is injecting in the website. I using es6-shim to fix a compatibility with IE11, but we have a client that is using *prototype.js 1.7 [https://ajax.googleapis.com/ajax/libs/prototype/1.7.0/prototype.js](https://ajax.googleapis.com/ajax/libs/prototype/1.7.0/prototype.js)* in the site and we have a con

[2017-04-24 09:34] dimaslz commented on #441
Written this, I take the solution. xd

[2017-04-24 15:52] ljharb commented on #441
@dimaslz what was your solution?

[2017-04-24 15:52] ljharb commented on #441
prototype.js is obsolete, but I still want the es6-shim to work with it.

[2017-04-25 06:31] dimaslz commented on #441
@ljharb Yes, I know that is obsolete, but is a special case.

So the solution, I used babel-polyfill and works properly. With es6-shim I have problem, I don't know way. But don't care, will improve a lot thing soon.

Thanks!

[2017-04-25 06:53] ljharb commented on #441
@dimaslz could you provide me with a jsfiddle that reproduces the problem?

[2017-05-18 17:23] rogovdm opened #442 "includes in undefined"
I know it's part of ES7 spec. But the README.md claims to include it. Still, it's undefined in production.

#416  #426

[2017-05-18 20:17] rogovdm commented on #442
That was too easy for me to miss. I appreciate!

[2017-05-18 20:17] #442 closed

[2017-06-23 08:23] wiadev opened #443 "How to use es6-shim with modernizr in IE 11."
Hi
I'm trying to build a web app with object.assign but it's not supported on IE 11.
So I've included modernizr and going to use es6-shim but not sure how to use them on my problem.
I'm not using npm, bower, etc but include all js files in my project /lib folder.

Thanks.

[2017-06-23 09:04] ljharb commented on #443
Simply importing/requiring `es6-shim` at the top of your project - before modernizr - should provide `Object.assign`.

[2017-06-27 13:00] #443 closed

[2017-07-06 18:25] ps37 commented on #392
@ljharb I am still getting the following error only on IE11.
SCRIPT5078: Cannot redefine non-configurable property 'Reflect'

I am bundling the es6-shim.min.js before all my sources and I am using the latest version of Angular.
Is the issue resolved?

[2017-07-07 04:58] ljharb commented on #392
@ps37 Can you try including es6-shim *in a separate bundle*, before Angular, and make sure all script tags are either omitting or including the `defer` attributes, and all omitting `async`? (ie, so all the tags execute in order)

[2017-08-18 22:07] Xotic750 commented on #382
Closing this, I'm very happy that the shim implements Map and Set as per spec, and that my isMap and isSet are happy. I look forward to a new release that includes the MapIterator and SetIterator changes that are sitting in the master. Thanks.

[2017-08-18 22:07] #382 closed

[2017-08-31 07:51] Xotic750 opened #444 "Object symbols with defineProperty(ies) on node<6"
On node<6, the following code fails with `TypeError: Cannot convert object to primitive value`
[code]
I know this is not fixable, however I thought that with ES6-shim loaded, that the following would work.
[code]
but it also fails. `TypeError: Cannot convert object to primitive value`

`ToPropertyKey` works fine, converting the symbol object to symbol primitive, so `Object.defineProperty` can shim

[2017-08-31 08:01] ljharb commented on #444
Absolutely `obj[key] = value` and `Object.defineProperty(obj, key, { value })` should behave the same, that doesn't surprise me.

Primarily this looks like an engine bug that simply *can not* be fixed.

es6-shim doesn't shim `Object.defineProperty` - that's ES5, and object-symbol support can't be shimmed. You're right that es6-shim could try to detect this case, but we'd end up creating an inconsi

[2017-08-31 08:01] #444 closed

[2017-08-31 08:15] Xotic750 commented on #444
I know that it's edge case, but I thought it worth a mention. ;)

[2017-11-06 19:16] dtgriscom opened #445 "Installed es6-shim types reference type "object", rather than "Object"?"
In using TypeScript and TypeDoc, I was having trouble with tsc errors on undefined Promise types. So, after some Googling, I installed es6-shim:

[code]
Now, tsc complains that it can't find name `object`:
[code]
Looking at the cited lines, I find that the WeakMap type's argument refer to the type `object`, instead of what I would assume should be `Object`:
[code]

I'm using tsc version 2.0.10, an

[2017-11-06 19:55] ljharb commented on #445
This project doesn't use typescript, and we don't support or maintain the TypeScript definitions for it.

Please file an issue on the DefinitelyTyped repo instead.

[2017-11-06 19:55] #445 closed

[2017-11-06 19:57] dtgriscom commented on #445
Thanks,
Dan

[2017-11-22 20:21] PhonyWelder opened #446 "instagram not works with es6-shim.js v0.35.3"
Opera 12.15, es6-shim.js instaled as UserScript; https://www.instagram.com/artofprolificpen/

It's just blank page because span id="react-root" don't have any content: http://s01.geekpic.net/di-QYZ495.png
After disabling es6-shim.js that span have proper content: http://s01.geekpic.net/di-YEUSQU.png

No JS errors in console.

[2017-11-22 20:57] ljharb commented on #446
UserScripts aren't really a supported use case; a site not designed to work with the shims is very likely to break.

Separately, for react to work, you'd have to have installed the ES5 shim *first*, then the es6 shim, and *then* run all the JS on the page.

[2017-11-22 20:57] #446 closed

[2017-11-23 00:43] PhonyWelder commented on #446
Opera executing UserScripts on very beginning (even document.body not exist at this time) - any page scripts executes after polyfills from es6-shim.js.

es5-shim.js and es5-sham.js don't affects, Opera 12.15 supports most ES5 features (tried tests from https://github.com/es-shims/es5-shim/ with commented es5-shim.js and es5-sham.js)

Instagram worked a month or two ago.

[2017-11-23 15:52] ljharb commented on #446
That suggests Instagram changed their site; es6-shim hasn't had a release in about 10 months.

[2017-11-24 05:22] PhonyWelder commented on #446
That incompatibility doesn't concern you?

[2017-11-24 05:26] ljharb commented on #446
@PhonyWelder It would concern me if es6-shim *users* were experiencing brokenness on their site; however, React itself doesn't really support Opera 12 with or without any shims, so I think using such an obsolete browser just kind of means you can't use many sites :-/

In other words, I fully support (and would fix) any breakage caused by the author of a site including the es6 shim and experiencing

[2017-11-24 07:43] PhonyWelder commented on #446
I'm using es6-shim.js as UserScript for all sites (with currently single exception), even if they owners don't care for obsolete browsers.

Problem with Array.from shim: after appending `Array.from = undefined;` to es6-shim.js instagram uses its own polyfill (get it with `javascript:alert(Array.from)`):
[code]
I inserted `console.log('items='+items+'\nmapping = '+ mapping +'\nusingIterator='+using

[2018-01-17 18:11] JimInWA opened #447 "Zip package for v0.35.2 and v0.35.3, es6-shim.js comment block indicates 0.35.1"
Looked here and at https://github.com/es-shims/es6-shim/releases, same issue.

Note: I realize that this is a minor issue, just documenting it so other people are aware.

- Go to the Releases and download the source code zip file for v0.35.2
- Open the es6-shim.js file
- Comment block indicates 0.35.1

Same issue for v0.35.3 zip file

[2018-01-17 19:00] ljharb commented on #447
This was fixed in 61b9685dc47a3adcd6eadf5935c6921435538ee4 / https://github.com/paulmillr/es6-shim/commit/129819173958a0da2b487e219425baf0ca6d1a99#commitcomment-20827458.

[2018-01-17 19:00] #447 closed

[2018-04-25 21:07] ljharb opened #448 "Investigate newly reported browser incompatibilities"
See https://github.com/tc39/test262/pull/1532#issuecomment-384386962.

In particular:
 - filter
 - map
 - slice
 - splice
 - bind
 - assign
 - keys
 - Array/TypedArray toLocaleString

Some of these may need to be filed on the es5-shim instead.

[2018-05-26 02:36] #434 closed

[2018-08-01 22:12] nmoinvaz opened #449 "IE9 fails to load minified shim"
It appears that IE9 is having problems loading the minified shim.
[code]
When I used the unminified version it works as expected. When I take the unminified version and minify it using Google's Closure Compiler, it works.

https://closure-compiler.appspot.com/

I believe the minfier that you are using is not turning the keyword `catch` for Promises into a string.

`...o.promise}});b(T,{catch:funct

[2018-08-01 22:39] ljharb commented on #449
Thanks, that sounds about right. I'll look into it.

[2018-08-02 04:31] nmoinvaz opened #450 "Support for Promise.prototype.finally"
It appears that Promise.prototype.finally has been accepted.
https://github.com/tc39/proposals/blob/master/finished-proposals.md
It would be great to have this included in this ES6 shim.

[2018-08-02 06:17] ljharb commented on #450
Promise.prototype.finally is part of ES2018 - this shim is exclusively and only for ES2015.

The official shim for finally is https://npmjs.com/promise.prototype.finally, which is also included in https://npmjs.com/airbnb-browser-shims.

[2018-08-02 06:17] #450 closed

[2018-08-02 14:45] nmoinvaz commented on #450
Thanks!

[2018-08-10 06:46] ljharb commented on #449
Fixed in 8583cbe2186ec12bfbf4218ccbce7fc73f96de87 (in the next release)

[2018-08-10 06:46] #449 closed

[2018-11-22 16:36] paatrofimov opened #451 "Symbol.split polyfill poor performance"
Steps I took to to reproduce issue:

1. npm init react-app my-app
2. npm i es6-shim --save
3. npm start
4. open console (chrome), run script from below and inspect printed result (~7)
5. add `require('es6-shim')` to index.js (devserver updates)
6. repeat step 4 and inspect another result (~105)

[code]

Why is es6-shim Symbol.split implementation significantly slower than native implementation? Is

[2018-11-22 16:43] ljharb commented on #451
Native implementations are always faster than polyfilled ones, that’s unavoidable.

As far as why it gets polyfilled on chrome, you can load the native tests file to see what related tests are failing.

[2019-02-14 10:44] GitToTheHub opened #452 "Question: Template literals supported?"
I only wanted to ask, if template literals are supported, like this:

[code]

Thank for responding :)

[2019-02-14 11:11] zloirock commented on #452
It can't be polyfilled, it's a work for transpiler. For modern syntax support, use Babel.

[2019-02-14 11:35] GitToTheHub commented on #452
Ok, thank you for your reply!
Can i maybe use this syntax style:
[code]

[2019-02-14 17:00] ljharb commented on #452
That’s alwsys been part of JS, but yes.

In general, syntax must be transpiled; only API can be polyfilled.

[2019-02-14 17:00] #452 closed

[2019-02-15 10:14] GitToTheHub commented on #452
Ok, thank you really much for your reply :)
Have a nice day :)

[2019-03-05 09:49] notflip opened #453 "Possible to only use needed components?"
Is it possible to not include the complete library, and only use the shims I need for a project?

[2019-03-05 19:16] ljharb commented on #453
How can you know that? You don’t know what shims all of your dependencies need.

Some of these do have standalone shims, but not all. In general tho, it’s a best practice to always unconditionally shim everything.

[2019-03-06 00:07] zloirock commented on #453
If you need it, you can use [`core-js`](https://github.com/zloirock/core-js).

[2019-03-06 06:48] #453 closed

[2019-03-07 18:42] ColCh opened #454 "Function.prototype.name getter brokes function name getter"
This code breaks `Function.prototype.name` in 100% of cases

[code]

launchable code: https://codepen.io/ColCh/pen/Oqpqqp

Try it in IE 11 and this would be resulted in this:

![image](https://user-images.githubusercontent.com/599439/53980491-7db12b80-4121-11e9-9944-22320c18b688.png)

WHY ?!

Because this code is executed against `this` variable of `Function.prototype`

https://github.com/paulmill

[2019-03-07 22:15] ljharb commented on #454
ah, that's a really good catch - I don't think we ever expected anyone would refer to the name getter directly. Fix incoming.

[2019-03-07 22:57] #454 closed

[2019-03-07 23:02] ColCh commented on #454
Omg that was fast! Thank you!

[2019-03-08 08:02] ljharb opened #455 "native Promise broken in node 10.0 and 10.1"
in node < 10, or 10.2+, the following code in the REPL shows a rejected promise. in node 10.0 and 10.1, however, the promise is forever pending.
[code]

[2019-03-09 06:35] ljharb commented on #455
https://github.com/v8/v8/commit/40060be68ca4faf00f526c5e581148e1141f489d is the bug fix; there may not be any way to synchronously detect it.

[2019-06-10 07:21] lukastaegert opened #456 "Unneeded argument for overrideNative"
Here and in the following lines, Rollup considers the final argument `true` to `overrideNative` to be superfluous, to which I agree looking at the definition.

https://github.com/paulmillr/es6-shim/blob/b5cca2ad271a7f9c80a7bfea4d05f875c80dd400/es6-shim.js#L1319

https://github.com/paulmillr/es6-shim/blob/b5cca2ad271a7f9c80a7bfea4d05f875c80dd400/es6-shim.js#L267

Is this correct?

[2019-06-10 07:25] ljharb commented on #456
Indeed you're right, I'm not sure why those pass a 4th argument.

[2019-08-02 19:25] Xotic750 opened #457 "Promise 'then' incorrect?"
I believe that

https://github.com/paulmillr/es6-shim/blob/master/es6-shim.js#L2569

and

https://github.com/paulmillr/es6-shim/blob/master/es6-shim.js#L2572

should be `this.constructor`

If you implement the shim and run the tests for subclass they will fail as `this.mine = 'yeah'` is not defined on the returned subclassed promise.

https://github.com/paulmillr/es6-shim/blob/master/test/promise/

[2019-08-02 20:04] Xotic750 opened #458 "For statement doesn't loop?"
https://github.com/paulmillr/es6-shim/blob/master/es6-shim.js#L1055

Is this a mistake? Surely just an `if`?

[2019-08-02 22:35] cscott commented on #457
Those lines match the spec, eg: https://www.ecma-international.org/ecma-262/6.0/#sec-promise.prototype.then

I believe the real issue is that the `ES.SpeciesConstructor` method is broken -- and I bet it has something to do with your runtime environment partially implementing Species support and thus fooling the shim.  What platform are you running the tests on?

[2019-08-02 22:54] cscott commented on #458
Yes, looks to be a think-o dating from f77f9f52ccc4765a0674a001fd1f258fdd7cf58a.  The current spec is https://www.ecma-international.org/ecma-262/6.0/#sec-%arrayiteratorprototype%.next and doesn't have a for loop.  (I think the for loop was from some intermediate stage where we were expecting to skip entries in sparse arrays.)

[2019-08-03 00:06] Xotic750 commented on #457
I'm on Node 8.11.4, but I tried on 10 and 12 too.  What I did was at

https://github.com/paulmillr/es6-shim/blob/master/es6-shim.js#L2624

I added `globals.PromiseShim = PromiseShim;`

<img width="1337" alt="Screenshot 2019-08-03 at 02 05 35" src="https://user-images.githubusercontent.com/216041/62404283-34abb900-b593-11e9-9a4c-e158feec603a.png">

This give me the implementation on the global.

th

[2019-08-03 01:58] ljharb commented on #457
The shims are not designed to be manually installed; if you just replace the global Promise, many things won't work - since that full replacement is only meant to be used on nodes that never had it to begin with.